In [1]:
import pandas as pd
import numpy as np

In [2]:
file = 'test.csv'
df = pd.read_csv(file)
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 80 columns):
Id               1459 non-null int64
MSSubClass       1459 non-null int64
MSZoning         1455 non-null object
LotFrontage      1232 non-null float64
LotArea          1459 non-null int64
Street           1459 non-null object
Alley            107 non-null object
LotShape         1459 non-null object
LandContour      1459 non-null object
Utilities        1457 non-null object
LotConfig        1459 non-null object
LandSlope        1459 non-null object
Neighborhood     1459 non-null object
Condition1       1459 non-null object
Condition2       1459 non-null object
BldgType         1459 non-null object
HouseStyle       1459 non-null object
OverallQual      1459 non-null int64
OverallCond      1459 non-null int64
YearBuilt        1459 non-null int64
YearRemodAdd     1459 non-null int64
RoofStyle        1459 non-null object
RoofMatl         1459 non-null object
Exterior1st      1458 non-null object
Exterior2nd      1458 non-null object
MasVnrType       1443 non-null object
MasVnrArea       1444 non-null float64
ExterQual        1459 non-null object
ExterCond        1459 non-null object
Foundation       1459 non-null object
BsmtQual         1415 non-null object
BsmtCond         1414 non-null object
BsmtExposure     1415 non-null object
BsmtFinType1     1417 non-null object
BsmtFinSF1       1458 non-null float64
BsmtFinType2     1417 non-null object
BsmtFinSF2       1458 non-null float64
BsmtUnfSF        1458 non-null float64
TotalBsmtSF      1458 non-null float64
Heating          1459 non-null object
HeatingQC        1459 non-null object
CentralAir       1459 non-null object
Electrical       1459 non-null object
1stFlrSF         1459 non-null int64
2ndFlrSF         1459 non-null int64
LowQualFinSF     1459 non-null int64
GrLivArea        1459 non-null int64
BsmtFullBath     1457 non-null float64
BsmtHalfBath     1457 non-null float64
FullBath         1459 non-null int64
HalfBath         1459 non-null int64
BedroomAbvGr     1459 non-null int64
KitchenAbvGr     1459 non-null int64
KitchenQual      1458 non-null object
TotRmsAbvGrd     1459 non-null int64
Functional       1457 non-null object
Fireplaces       1459 non-null int64
FireplaceQu      729 non-null object
GarageType       1383 non-null object
GarageYrBlt      1381 non-null float64
GarageFinish     1381 non-null object
GarageCars       1458 non-null float64
GarageArea       1458 non-null float64
GarageQual       1381 non-null object
GarageCond       1381 non-null object
PavedDrive       1459 non-null object
WoodDeckSF       1459 non-null int64
OpenPorchSF      1459 non-null int64
EnclosedPorch    1459 non-null int64
3SsnPorch        1459 non-null int64
ScreenPorch      1459 non-null int64
PoolArea         1459 non-null int64
PoolQC           3 non-null object
Fence            290 non-null object
MiscFeature      51 non-null object
MiscVal          1459 non-null int64
MoSold           1459 non-null int64
YrSold           1459 non-null int64
SaleType         1458 non-null object
SaleCondition    1459 non-null object
dtypes: float64(11), int64(26), object(43)
memory usage: 912.0+ KB

In [4]:
df_copy = df.copy()

## Diccionario `dict_MSZoning`

In [5]:
column = 'MSZoning'

In [6]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

         0
0       RH
1       RL
2       RM
3       FV
4  C (all)

In [7]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [8]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [9]:
grouped.shape

(5, 2)

In [10]:
grouped['index'] += 1
grouped

   index      Key
0      1       RH
1      2       RL
2      3       RM
3      4       FV
4      5  C (all)

In [11]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [12]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'RH'], [2, 'RL'], [3, 'RM'], [4, 'FV'], [5, 'C (all)']]}

In [13]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'RH': 1, 'RL': 2, 'RM': 3, 'FV': 4, 'C (all)': 5}

In [14]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

ValueError: Cannot convert non-finite values (NA or inf) to integer

## Diccionario `Street`

In [ ]:
column = 'Street'

In [ ]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

In [ ]:
grouped.reset_index(inplace=True)
grouped.columns

In [ ]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

In [ ]:
grouped.shape

In [ ]:
grouped['index'] += 1
grouped

In [ ]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

In [ ]:
dict_.pop('index')
dict_.pop('columns')
dict_

In [ ]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

In [ ]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

## Diccionario `LotShape`

In [ ]:
column = 'LotShape'

In [ ]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

In [ ]:
grouped.reset_index(inplace=True)
grouped.columns

In [ ]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

In [ ]:
grouped.shape

In [ ]:
grouped['index'] += 1
grouped

In [ ]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

In [ ]:
dict_.pop('index')
dict_.pop('columns')
dict_

In [ ]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

In [ ]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

## Diccionario `LandContour`

In [ ]:
column = 'LandContour'

In [ ]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

In [ ]:
grouped.reset_index(inplace=True)
grouped.columns

In [ ]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

In [ ]:
grouped.shape

In [ ]:
grouped['index'] += 1
grouped

In [ ]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

In [ ]:
dict_.pop('index')
dict_.pop('columns')
dict_

In [ ]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

In [ ]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

## Diccionario `Utilities`

In [ ]:
column = 'Utilities'

In [ ]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

In [ ]:
grouped.reset_index(inplace=True)
grouped.columns

In [ ]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

In [ ]:
grouped.shape

In [ ]:
grouped['index'] += 1
grouped

In [ ]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

In [ ]:
dict_.pop('index')
dict_.pop('columns')
dict_

In [ ]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

In [ ]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

## Diccionario `LotConfig`

In [ ]:
column = 'LotConfig'

In [ ]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

In [ ]:
grouped.reset_index(inplace=True)
grouped.columns

In [ ]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

In [ ]:
grouped.shape

In [ ]:
grouped['index'] += 1
grouped

In [ ]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

In [ ]:
dict_.pop('index')
dict_.pop('columns')
dict_

In [ ]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

In [ ]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

## Diccionario `LandSlope`

In [ ]:
column = 'LandSlope'

In [ ]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

In [ ]:
grouped.reset_index(inplace=True)
grouped.columns

In [ ]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

In [ ]:
grouped.shape

In [ ]:
grouped['index'] += 1
grouped

In [ ]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

In [ ]:
dict_.pop('index')
dict_.pop('columns')
dict_

In [ ]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

In [ ]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

## Diccionario `Neighborhood`

In [ ]:
column = 'Neighborhood'

In [ ]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

In [ ]:
grouped.reset_index(inplace=True)
grouped.columns

In [ ]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

In [ ]:
grouped.shape

In [ ]:
grouped['index'] += 1
grouped

In [ ]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

In [ ]:
dict_.pop('index')
dict_.pop('columns')
dict_

In [ ]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

In [ ]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

## Diccionario `Condition1`

In [ ]:
column = 'Condition1'

In [ ]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

In [ ]:
grouped.reset_index(inplace=True)
grouped.columns

In [ ]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

In [ ]:
grouped.shape

In [ ]:
grouped['index'] += 1
grouped

In [ ]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

In [ ]:
dict_.pop('index')
dict_.pop('columns')
dict_

In [ ]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

In [ ]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

## Diccionario `Condition2`

In [ ]:
column = 'Condition2'

In [ ]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

In [ ]:
grouped.reset_index(inplace=True)
grouped.columns

In [ ]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

In [ ]:
grouped.shape

In [ ]:
grouped['index'] += 1
grouped

In [ ]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

In [ ]:
dict_.pop('index')
dict_.pop('columns')
dict_

In [ ]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

In [ ]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

## Diccionario `BldgType`

In [ ]:
column = 'BldgType'

In [ ]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

In [ ]:
grouped.reset_index(inplace=True)
grouped.columns

In [ ]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

In [ ]:
grouped.shape

In [ ]:
grouped['index'] += 1
grouped

In [ ]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

In [ ]:
dict_.pop('index')
dict_.pop('columns')
dict_

In [ ]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

In [ ]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

## Diccionario `HouseStyle`

In [ ]:
column = 'HouseStyle'

In [ ]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

In [ ]:
grouped.reset_index(inplace=True)
grouped.columns

In [ ]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

In [ ]:
grouped.shape

In [ ]:
grouped['index'] += 1
grouped

In [ ]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

In [ ]:
dict_.pop('index')
dict_.pop('columns')
dict_

In [ ]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

In [ ]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

## Diccionario `RoofStyle`

In [ ]:
column = 'RoofStyle'

In [ ]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

In [ ]:
grouped.reset_index(inplace=True)
grouped.columns

In [ ]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

In [ ]:
grouped.shape

In [ ]:
grouped['index'] += 1
grouped

In [ ]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

In [ ]:
dict_.pop('index')
dict_.pop('columns')
dict_

In [ ]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

In [ ]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

## Diccionario `RoofMatl`

In [ ]:
column = 'RoofMatl'

In [ ]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

In [ ]:
grouped.reset_index(inplace=True)
grouped.columns

In [ ]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

In [ ]:
grouped.shape

In [ ]:
grouped['index'] += 1
grouped

In [ ]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

In [ ]:
dict_.pop('index')
dict_.pop('columns')
dict_

In [ ]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

In [ ]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

## Diccionario `Exterior1st`

In [ ]:
column = 'Exterior1st'

In [ ]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

In [ ]:
grouped.reset_index(inplace=True)
grouped.columns

In [ ]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

In [ ]:
grouped.shape

In [ ]:
grouped['index'] += 1
grouped

In [ ]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

In [ ]:
dict_.pop('index')
dict_.pop('columns')
dict_

In [ ]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

In [ ]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

## Diccionario `Exterior2nd`

In [ ]:
column = 'Exterior2nd'

In [ ]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

In [ ]:
grouped.reset_index(inplace=True)
grouped.columns

In [ ]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

In [ ]:
grouped.shape

In [ ]:
grouped['index'] += 1
grouped

In [ ]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

In [ ]:
dict_.pop('index')
dict_.pop('columns')
dict_

In [ ]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

In [ ]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

## Diccionario `MasVnrType`

In [ ]:
column = 'MasVnrType'

In [ ]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

In [ ]:
grouped.reset_index(inplace=True)
grouped.columns

In [ ]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

In [ ]:
grouped.shape

In [ ]:
grouped['index'] += 1
grouped

In [ ]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

In [ ]:
dict_.pop('index')
dict_.pop('columns')
dict_

In [ ]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

In [ ]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

## Diccionario `ExterQual`

In [ ]:
column = 'ExterQual'

In [ ]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

In [ ]:
grouped.reset_index(inplace=True)
grouped.columns

In [ ]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

In [ ]:
grouped.shape

In [ ]:
grouped['index'] += 1
grouped

In [ ]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

In [ ]:
dict_.pop('index')
dict_.pop('columns')
dict_

In [ ]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

In [ ]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

## Diccionario `ExterCond`

In [ ]:
column = 'ExterCond'

In [ ]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

In [ ]:
grouped.reset_index(inplace=True)
grouped.columns

In [ ]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

In [ ]:
grouped.shape

In [ ]:
grouped['index'] += 1
grouped

In [ ]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

In [ ]:
dict_.pop('index')
dict_.pop('columns')
dict_

In [ ]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

In [ ]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

## Diccionario `Foundation`

In [ ]:
column = 'Foundation'

In [ ]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

In [ ]:
grouped.reset_index(inplace=True)
grouped.columns

In [ ]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

In [ ]:
grouped.shape

In [ ]:
grouped['index'] += 1
grouped

In [ ]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

In [ ]:
dict_.pop('index')
dict_.pop('columns')
dict_

In [ ]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

In [ ]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

## Diccionario `BsmtQual`

In [ ]:
column = 'BsmtQual'

In [ ]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

In [ ]:
grouped.reset_index(inplace=True)
grouped.columns

In [ ]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

In [ ]:
grouped.shape

In [ ]:
grouped['index'] += 1
grouped

In [ ]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

In [ ]:
dict_.pop('index')
dict_.pop('columns')
dict_

In [ ]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

In [ ]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

## Diccionario `BsmtCond`

In [ ]:
column = 'BsmtCond'

In [ ]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

In [ ]:
grouped.reset_index(inplace=True)
grouped.columns

In [ ]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

In [ ]:
grouped.shape

In [ ]:
grouped['index'] += 1
grouped

In [ ]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

In [ ]:
dict_.pop('index')
dict_.pop('columns')
dict_

In [ ]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

In [ ]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

## Diccionario `BsmtExposure`

In [ ]:
column = 'BsmtExposure'

In [ ]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

In [15]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['level_0', 'index', 'Key'], dtype='object')

In [16]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['level_0', 'index', 'Key'], dtype='object')

In [17]:
grouped.shape

(5, 3)

In [18]:
grouped['index'] += 1
grouped

   level_0  index      Key
0        0      2       RH
1        1      3       RL
2        2      4       RM
3        3      5       FV
4        4      6  C (all)

In [19]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [20]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[0, 2, 'RH'],
  [1, 3, 'RL'],
  [2, 4, 'RM'],
  [3, 5, 'FV'],
  [4, 6, 'C (all)']]}

In [21]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{2: 0, 3: 1, 4: 2, 5: 3, 6: 4}

In [22]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([ 1.,  0.,  2.,  3., nan])

## Diccionario `BsmtFinType1`

In [23]:
column = 'BsmtFinType1'

In [24]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

     0
0  Rec
1  ALQ
2  GLQ
3  Unf
4  BLQ

In [25]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [26]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [27]:
grouped.shape

(6, 2)

In [28]:
grouped['index'] += 1
grouped

   index  Key
0      1  Rec
1      2  ALQ
2      3  GLQ
3      4  Unf
4      5  BLQ
5      6  LwQ

In [29]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [30]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'Rec'],
  [2, 'ALQ'],
  [3, 'GLQ'],
  [4, 'Unf'],
  [5, 'BLQ'],
  [6, 'LwQ']]}

In [31]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'Rec': 1, 'ALQ': 2, 'GLQ': 3, 'Unf': 4, 'BLQ': 5, 'LwQ': 6}

In [32]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([ 1.,  2.,  3.,  4.,  5.,  6., nan])

## Diccionario `BsmtFinType2`

In [33]:
column = 'BsmtFinType2'

In [34]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

     0
0  LwQ
1  Unf
2  Rec
3  BLQ
4  GLQ

In [35]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [36]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [37]:
grouped.shape

(6, 2)

In [38]:
grouped['index'] += 1
grouped

   index  Key
0      1  LwQ
1      2  Unf
2      3  Rec
3      4  BLQ
4      5  GLQ
5      6  ALQ

In [39]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [40]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'LwQ'],
  [2, 'Unf'],
  [3, 'Rec'],
  [4, 'BLQ'],
  [5, 'GLQ'],
  [6, 'ALQ']]}

In [41]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'LwQ': 1, 'Unf': 2, 'Rec': 3, 'BLQ': 4, 'GLQ': 5, 'ALQ': 6}

In [42]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([ 1.,  2.,  3.,  4.,  5.,  6., nan])

## Diccionario `Heating`

In [43]:
column = 'Heating'

In [44]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

      0
0  GasA
1  GasW
2  Grav
3  Wall

In [45]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [46]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [47]:
grouped.shape

(4, 2)

In [48]:
grouped['index'] += 1
grouped

   index   Key
0      1  GasA
1      2  GasW
2      3  Grav
3      4  Wall

In [49]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [50]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'GasA'], [2, 'GasW'], [3, 'Grav'], [4, 'Wall']]}

In [51]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'GasA': 1, 'GasW': 2, 'Grav': 3, 'Wall': 4}

In [52]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([1, 2, 3, 4])

## Diccionario `HeatingQC`

In [53]:
column = 'HeatingQC'

In [54]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

    0
0  TA
1  Gd
2  Ex
3  Fa
4  Po

In [55]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [56]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [57]:
grouped.shape

(5, 2)

In [58]:
grouped['index'] += 1
grouped

   index Key
0      1  TA
1      2  Gd
2      3  Ex
3      4  Fa
4      5  Po

In [59]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [60]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'TA'], [2, 'Gd'], [3, 'Ex'], [4, 'Fa'], [5, 'Po']]}

In [61]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'TA': 1, 'Gd': 2, 'Ex': 3, 'Fa': 4, 'Po': 5}

In [62]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([1, 2, 3, 4, 5])

## Diccionario `CentralAir`

In [63]:
column = 'CentralAir'

In [64]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

   0
0  Y
1  N

In [65]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [66]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [67]:
grouped.shape

(2, 2)

In [68]:
grouped['index'] += 1
grouped

   index Key
0      1   Y
1      2   N

In [69]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [70]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'Y'], [2, 'N']]}

In [71]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'Y': 1, 'N': 2}

In [72]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([1, 2])

## Diccionario `Electrical`

In [73]:
column = 'Electrical'

In [74]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

       0
0  SBrkr
1  FuseA
2  FuseF
3  FuseP

In [75]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [76]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [77]:
grouped.shape

(4, 2)

In [78]:
grouped['index'] += 1
grouped

   index    Key
0      1  SBrkr
1      2  FuseA
2      3  FuseF
3      4  FuseP

In [79]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [80]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'SBrkr'], [2, 'FuseA'], [3, 'FuseF'], [4, 'FuseP']]}

In [81]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'SBrkr': 1, 'FuseA': 2, 'FuseF': 3, 'FuseP': 4}

In [82]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([1, 2, 3, 4])

## Diccionario `KitchenQual`

In [83]:
column = 'KitchenQual'

In [84]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

    0
0  TA
1  Gd
2  Ex
3  Fa

In [85]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [86]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [87]:
grouped.shape

(4, 2)

In [88]:
grouped['index'] += 1
grouped

   index Key
0      1  TA
1      2  Gd
2      3  Ex
3      4  Fa

In [89]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [90]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'TA'], [2, 'Gd'], [3, 'Ex'], [4, 'Fa']]}

In [91]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'TA': 1, 'Gd': 2, 'Ex': 3, 'Fa': 4}

In [92]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([ 1.,  2.,  3.,  4., nan])

## Diccionario `Functional`

In [93]:
column = 'Functional'

In [94]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

      0
0   Typ
1  Min2
2  Min1
3   Mod
4  Maj1

In [95]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [96]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [97]:
grouped.shape

(7, 2)

In [98]:
grouped['index'] += 1
grouped

   index   Key
0      1   Typ
1      2  Min2
2      3  Min1
3      4   Mod
4      5  Maj1
5      6   Sev
6      7  Maj2

In [99]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [100]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'Typ'],
  [2, 'Min2'],
  [3, 'Min1'],
  [4, 'Mod'],
  [5, 'Maj1'],
  [6, 'Sev'],
  [7, 'Maj2']]}

In [101]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'Typ': 1, 'Min2': 2, 'Min1': 3, 'Mod': 4, 'Maj1': 5, 'Sev': 6, 'Maj2': 7}

In [102]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7., nan])

## Diccionario `FireplaceQu`

In [103]:
column = 'FireplaceQu'

In [104]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

    0
0  TA
1  Gd
2  Po
3  Fa
4  Ex

In [105]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [106]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [107]:
grouped.shape

(5, 2)

In [108]:
grouped['index'] += 1
grouped

   index Key
0      1  TA
1      2  Gd
2      3  Po
3      4  Fa
4      5  Ex

In [109]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [110]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'TA'], [2, 'Gd'], [3, 'Po'], [4, 'Fa'], [5, 'Ex']]}

In [111]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'TA': 1, 'Gd': 2, 'Po': 3, 'Fa': 4, 'Ex': 5}

In [112]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([nan,  1.,  2.,  3.,  4.,  5.])

## Diccionario `GarageType`

In [113]:
column = 'GarageType'

In [114]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

         0
0   Attchd
1   Detchd
2  BuiltIn
3  Basment
4   2Types

In [115]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [116]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [117]:
grouped.shape

(6, 2)

In [118]:
grouped['index'] += 1
grouped

   index      Key
0      1   Attchd
1      2   Detchd
2      3  BuiltIn
3      4  Basment
4      5   2Types
5      6  CarPort

In [119]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [120]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'Attchd'],
  [2, 'Detchd'],
  [3, 'BuiltIn'],
  [4, 'Basment'],
  [5, '2Types'],
  [6, 'CarPort']]}

In [121]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'Attchd': 1,
 'Detchd': 2,
 'BuiltIn': 3,
 'Basment': 4,
 '2Types': 5,
 'CarPort': 6}

In [122]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([ 1.,  2.,  3., nan,  4.,  5.,  6.])

## Diccionario `GarageFinish`

In [123]:
column = 'GarageFinish'

In [124]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

     0
0  Unf
1  Fin
2  RFn

In [125]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [126]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [127]:
grouped.shape

(3, 2)

In [128]:
grouped['index'] += 1
grouped

   index  Key
0      1  Unf
1      2  Fin
2      3  RFn

In [129]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [130]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'Unf'], [2, 'Fin'], [3, 'RFn']]}

In [131]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'Unf': 1, 'Fin': 2, 'RFn': 3}

In [132]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([ 1.,  2.,  3., nan])

## Diccionario `GarageQual`

In [133]:
column = 'GarageQual'

In [134]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

    0
0  TA
1  Fa
2  Gd
3  Po

In [135]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [136]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [137]:
grouped.shape

(4, 2)

In [138]:
grouped['index'] += 1
grouped

   index Key
0      1  TA
1      2  Fa
2      3  Gd
3      4  Po

In [139]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [140]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'TA'], [2, 'Fa'], [3, 'Gd'], [4, 'Po']]}

In [141]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'TA': 1, 'Fa': 2, 'Gd': 3, 'Po': 4}

In [142]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([ 1., nan,  2.,  3.,  4.])

## Diccionario `GarageCond`

In [143]:
column = 'GarageCond'

In [144]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

    0
0  TA
1  Fa
2  Gd
3  Po
4  Ex

In [145]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [146]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [147]:
grouped.shape

(5, 2)

In [148]:
grouped['index'] += 1
grouped

   index Key
0      1  TA
1      2  Fa
2      3  Gd
3      4  Po
4      5  Ex

In [149]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [150]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'TA'], [2, 'Fa'], [3, 'Gd'], [4, 'Po'], [5, 'Ex']]}

In [151]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'TA': 1, 'Fa': 2, 'Gd': 3, 'Po': 4, 'Ex': 5}

In [152]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([ 1., nan,  2.,  3.,  4.,  5.])

## Diccionario `GarageYrBlt`

In [153]:
column = 'GarageYrBlt'

In [154]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped = grouped.astype('int64')
grouped.head()

      0
0  1961
1  1958
2  1997
3  1998
4  1992

In [155]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [156]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [157]:
grouped.shape

(97, 2)

In [158]:
grouped['index'] += 1
grouped

    index   Key
0       1  1961
1       2  1958
2       3  1997
3       4  1998
4       5  1992
5       6  1993
6       7  1990
7       8  1970
8       9  1999
9      10  1971
10     11  1975
11     12  2009
12     13  2005
13     14  2003
14     15  2002
15     16  2006
16     17  2004
17     18  1920
18     19  1974
19     20  2000
20     21  2010
21     22  1967
22     23  1978
23     24  1966
24     25  1964
25     26  1994
26     27  1949
27     28  1959
28     29  1956
29     30  1952
..    ...   ...
67     68  1972
68     69  1984
69     70  1985
70     71  1996
71     72  1995
72     73  1980
73     74  1986
74     75  1981
75     76  1982
76     77  1991
77     78  1988
78     79  1953
79     80  1924
80     81  1927
81     82  1946
82     83  1934
83     84  1983
84     85  1916
85     86  1918
86     87  1937
87     88  1932
88     89  1935
89     90  1925
90     91  1921
91     92  1895
92     93  1922
93     94  2207
94     95  1936
95     96  1943
96     97  1919

[97 rows x 2 columns]

In [159]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [160]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 1961],
  [2, 1958],
  [3, 1997],
  [4, 1998],
  [5, 1992],
  [6, 1993],
  [7, 1990],
  [8, 1970],
  [9, 1999],
  [10, 1971],
  [11, 1975],
  [12, 2009],
  [13, 2005],
  [14, 2003],
  [15, 2002],
  [16, 2006],
  [17, 2004],
  [18, 1920],
  [19, 1974],
  [20, 2000],
  [21, 2010],
  [22, 1967],
  [23, 1978],
  [24, 1966],
  [25, 1964],
  [26, 1994],
  [27, 1949],
  [28, 1959],
  [29, 1956],
  [30, 1952],
  [31, 1955],
  [32, 1989],
  [33, 1950],
  [34, 1960],
  [35, 1963],
  [36, 1900],
  [37, 1957],
  [38, 1938],
  [39, 1948],
  [40, 1962],
  [41, 1928],
  [42, 1930],
  [43, 1926],
  [44, 1939],
  [45, 1973],
  [46, 1942],
  [47, 1979],
  [48, 1923],
  [49, 1915],
  [50, 1917],
  [51, 1940],
  [52, 1910],
  [53, 1969],
  [54, 1968],
  [55, 1977],
  [56, 1945],
  [57, 1987],
  [58, 1947],
  [59, 1954],
  [60, 1941],
  [61, 1951],
  [62, 1896],
  [63, 1976],
  [64, 2008],
  [65, 2007],
  [66, 1965],
  [67, 2001],
  [68, 1972],
  [69, 1984],
  [70, 1985],
  [71, 1996],
  [72, 1995],
  [73, 1980],
  [74, 1986],
  [75, 1981],
  [76, 1982],
  [77, 1991],
  [78, 1988],
  [79, 1953],
  [80, 1924],
  [81, 1927],
  [82, 1946],
  [83, 1934],
  [84, 1983],
  [85, 1916],
  [86, 1918],
  [87, 1937],
  [88, 1932],
  [89, 1935],
  [90, 1925],
  [91, 1921],
  [92, 1895],
  [93, 1922],
  [94, 2207],
  [95, 1936],
  [96, 1943],
  [97, 1919]]}

In [161]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{1961: 1,
 1958: 2,
 1997: 3,
 1998: 4,
 1992: 5,
 1993: 6,
 1990: 7,
 1970: 8,
 1999: 9,
 1971: 10,
 1975: 11,
 2009: 12,
 2005: 13,
 2003: 14,
 2002: 15,
 2006: 16,
 2004: 17,
 1920: 18,
 1974: 19,
 2000: 20,
 2010: 21,
 1967: 22,
 1978: 23,
 1966: 24,
 1964: 25,
 1994: 26,
 1949: 27,
 1959: 28,
 1956: 29,
 1952: 30,
 1955: 31,
 1989: 32,
 1950: 33,
 1960: 34,
 1963: 35,
 1900: 36,
 1957: 37,
 1938: 38,
 1948: 39,
 1962: 40,
 1928: 41,
 1930: 42,
 1926: 43,
 1939: 44,
 1973: 45,
 1942: 46,
 1979: 47,
 1923: 48,
 1915: 49,
 1917: 50,
 1940: 51,
 1910: 52,
 1969: 53,
 1968: 54,
 1977: 55,
 1945: 56,
 1987: 57,
 1947: 58,
 1954: 59,
 1941: 60,
 1951: 61,
 1896: 62,
 1976: 63,
 2008: 64,
 2007: 65,
 1965: 66,
 2001: 67,
 1972: 68,
 1984: 69,
 1985: 70,
 1996: 71,
 1995: 72,
 1980: 73,
 1986: 74,
 1981: 75,
 1982: 76,
 1991: 77,
 1988: 78,
 1953: 79,
 1924: 80,
 1927: 81,
 1946: 82,
 1934: 83,
 1983: 84,
 1916: 85,
 1918: 86,
 1937: 87,
 1932: 88,
 1935: 89,
 1925: 90,
 1921: 91,
 1895: 92,
 1922: 93,
 2207: 94,
 1936: 95,
 1943: 96,
 1919: 97}

In [162]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13.,
       14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25., nan,
       26., 27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38.,
       39., 40., 41., 42., 43., 44., 45., 46., 47., 48., 49., 50., 51.,
       52., 53., 54., 55., 56., 57., 58., 59., 60., 61., 62., 63., 64.,
       65., 66., 67., 68., 69., 70., 71., 72., 73., 74., 75., 76., 77.,
       78., 79., 80., 81., 82., 83., 84., 85., 86., 87., 88., 89., 90.,
       91., 92., 93., 94., 95., 96., 97.])

## Diccionario `PavedDrive`

In [163]:
column = 'PavedDrive'

In [164]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

   0
0  Y
1  N
2  P

In [165]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [166]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [167]:
grouped.shape

(3, 2)

In [168]:
grouped['index'] += 1
grouped

   index Key
0      1   Y
1      2   N
2      3   P

In [169]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [170]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'Y'], [2, 'N'], [3, 'P']]}

In [171]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'Y': 1, 'N': 2, 'P': 3}

In [172]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([1, 2, 3])

## Diccionario `SaleType`

In [173]:
column = 'SaleType'

In [174]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

       0
0     WD
1    COD
2    New
3  ConLD
4    Oth

In [175]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [176]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [177]:
grouped.shape

(9, 2)

In [178]:
grouped['index'] += 1
grouped

   index    Key
0      1     WD
1      2    COD
2      3    New
3      4  ConLD
4      5    Oth
5      6    Con
6      7  ConLw
7      8  ConLI
8      9    CWD

In [179]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [180]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'WD'],
  [2, 'COD'],
  [3, 'New'],
  [4, 'ConLD'],
  [5, 'Oth'],
  [6, 'Con'],
  [7, 'ConLw'],
  [8, 'ConLI'],
  [9, 'CWD']]}

In [181]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'WD': 1,
 'COD': 2,
 'New': 3,
 'ConLD': 4,
 'Oth': 5,
 'Con': 6,
 'ConLw': 7,
 'ConLI': 8,
 'CWD': 9}

In [182]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., nan])

## Diccionario `SaleCondition`

In [183]:
column = 'SaleCondition'

In [184]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

         0
0   Normal
1  Partial
2  Abnorml
3   Family
4   Alloca

In [185]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [186]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [187]:
grouped.shape

(6, 2)

In [188]:
grouped['index'] += 1
grouped

   index      Key
0      1   Normal
1      2  Partial
2      3  Abnorml
3      4   Family
4      5   Alloca
5      6  AdjLand

In [189]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [190]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'Normal'],
  [2, 'Partial'],
  [3, 'Abnorml'],
  [4, 'Family'],
  [5, 'Alloca'],
  [6, 'AdjLand']]}

In [191]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'Normal': 1,
 'Partial': 2,
 'Abnorml': 3,
 'Family': 4,
 'Alloca': 5,
 'AdjLand': 6}

In [192]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([1, 2, 3, 4, 5, 6])

In [193]:
for line in df_copy.columns:
    print(line, ' : ', df_copy[line].unique(), '\n')

Id  :  [1461 1462 1463 ... 2917 2918 2919]

MSSubClass  :  [ 20  60 120 160  80  30  50  90  85 190  45  70  75 180  40 150]

MSZoning  :  [ 1.  0.  2.  3. nan]

LotFrontage  :  [ 80.  81.  74.  78.  43.  75.  nan  63.  85.  70.  26.  21.  24. 102.
  94.  90.  79. 110. 105.  41. 100.  67.  60.  73.  92.  84.  39.  88.
  25.  30.  57.  68.  98. 120.  87. 119.  65.  56.  69.  50.  53.  52.
  51.  72.  86. 124.  44.  83.  64.  82.  38.  89.  35.  58.  66.  93.
  31.  76.  28.  61.  95. 129.  59.  77.  96.  47.  34. 117.  48.  62.
  42. 106. 112.  32. 115.  71.  45. 109. 113. 125. 101. 104. 108. 130.
 135.  36.  55. 136.  97.  91.  37.  22. 103.  99.  40. 123.  54. 107.
 150. 160. 195. 128.  33. 118. 134. 155. 126.  46. 149. 200. 121. 131.
 114.  49. 133. 140.]

LotArea  :  [11622 14267 13830 ...  1894 20000 10441]

Street  :  ['Pave' 'Grvl']

Alley  :  [nan 'Pave' 'Grvl']

LotShape  :  ['Reg' 'IR1' 'IR2' 'IR3']

LandContour  :  ['Lvl' 'HLS' 'Bnk' 'Low']

Utilities  :  ['AllPub' nan]

LotConfig  :  ['Inside' 'Corner' 'FR2' 'CulDSac' 'FR3']

LandSlope  :  ['Gtl' 'Mod' 'Sev']

Neighborhood  :  ['NAmes' 'Gilbert' 'StoneBr' 'BrDale' 'NPkVill' 'NridgHt' 'Blmngtn'
 'NoRidge' 'Somerst' 'SawyerW' 'Sawyer' 'NWAmes' 'OldTown' 'BrkSide'
 'ClearCr' 'SWISU' 'Edwards' 'CollgCr' 'Crawfor' 'Blueste' 'IDOTRR'
 'Mitchel' 'Timber' 'MeadowV' 'Veenker']

Condition1  :  ['Feedr' 'Norm' 'PosN' 'RRNe' 'Artery' 'RRNn' 'PosA' 'RRAn' 'RRAe']

Condition2  :  ['Norm' 'Feedr' 'PosA' 'PosN' 'Artery']

BldgType  :  ['1Fam' 'TwnhsE' 'Twnhs' 'Duplex' '2fmCon']

HouseStyle  :  ['1Story' '2Story' 'SLvl' '1.5Fin' 'SFoyer' '2.5Unf' '1.5Unf']

OverallQual  :  [ 5  6  8  7  4  9  2  3 10  1]

OverallCond  :  [6 5 7 8 2 9 3 4 1]

YearBuilt  :  [1961 1958 1997 1998 1992 1993 1990 1970 1999 1971 1975 2009 2005 2003
 2002 2006 2004 1920 1974 2000 2010 1967 1978 1966 1964 1962 1952 1949
 1959 1956 1955 1948 1960 1963 1900 1957 1938 1923 1890 1910 1922 1950
 1925 1939 1940 1942 1936 1930 1915 1912 1917 1907 1968 1977 1927 1947
 1954 1987 1996 1972 1945 1924 1931 1941 1994 1989 1921 1896 1976 2008
 1965 1973 1984 1985 1991 1969 1995 1980 2007 1986 1981 1951 1953 1935
 1902 1946 1934 1983 1880 1979 2001 1916 1918 1988 1937 1905 1928 1926
 1929 1914 1895 1982 1879 1901 1919 1932]

YearRemodAdd  :  [1961 1958 1998 1992 1994 2007 1990 1970 1999 1971 1975 2010 2005 2006
 2004 2002 1950 1993 2000 2003 1967 1978 1966 1964 2001 2008 2009 1959
 1956 1952 1955 1960 1984 1954 1957 1962 1997 1980 1968 1987 1979 1996
 1972 1985 1991 1989 1977 1976 1973 1986 1969 1995 1974 1981 1965 1951
 1953 1963 1982 1988 1983]

RoofStyle  :  ['Gable' 'Hip' 'Gambrel' 'Flat' 'Mansard' 'Shed']

RoofMatl  :  ['CompShg' 'Tar&Grv' 'WdShake' 'WdShngl']

Exterior1st  :  ['VinylSd' 'Wd Sdng' 'HdBoard' 'Plywood' 'MetalSd' 'CemntBd' 'WdShing'
 'BrkFace' 'AsbShng' 'BrkComm' 'Stucco' 'AsphShn' nan 'CBlock']

Exterior2nd  :  ['VinylSd' 'Wd Sdng' 'HdBoard' 'Plywood' 'MetalSd' 'Brk Cmn' 'CmentBd'
 'ImStucc' 'Wd Shng' 'AsbShng' 'Stucco' 'CBlock' 'BrkFace' 'AsphShn' nan
 'Stone']

MasVnrType  :  ['None' 'BrkFace' 'Stone' 'BrkCmn' nan]

MasVnrArea  :  [0.000e+00 1.080e+02 2.000e+01 5.040e+02 4.920e+02 1.620e+02 2.560e+02
 6.150e+02 2.400e+02 1.095e+03 2.320e+02 1.780e+02 1.400e+01 1.140e+02
 2.260e+02 1.220e+02 2.500e+02 1.800e+02 1.200e+02 2.160e+02 1.159e+03
 1.720e+02 2.680e+02 1.440e+02 2.650e+02 3.400e+02 5.060e+02 1.500e+02
 9.100e+01 4.320e+02 2.180e+02 7.710e+02 3.000e+02 9.000e+01 7.200e+01
 4.700e+01 2.880e+02 9.600e+01 1.770e+02 8.500e+01 8.000e+01 3.200e+02
 1.700e+02 2.030e+02 3.710e+02 4.300e+02 4.400e+01 1.860e+02 6.000e+01
 4.400e+02 1.880e+02 3.200e+01 4.500e+01 1.570e+02 1.010e+02 2.290e+02
 1.610e+02 1.960e+02 4.250e+02 1.650e+02 7.260e+02 4.500e+02 4.720e+02
 3.020e+02 2.380e+02 2.840e+02 2.850e+02 4.180e+02 7.240e+02 3.830e+02
 1.350e+02 1.760e+02 7.300e+02 4.700e+02 3.080e+02 5.000e+02 2.700e+02
 1.630e+02 1.600e+01 2.000e+02       nan 2.100e+02 6.340e+02 2.860e+02
 3.720e+02 2.940e+02 2.600e+02 2.060e+02 1.980e+02 1.210e+02 2.640e+02
 1.400e+02 1.320e+02 1.410e+02 1.150e+02 2.800e+02 2.520e+02 5.130e+02
 1.280e+02 2.830e+02 5.090e+02 1.600e+02 7.000e+01 2.170e+02 3.000e+00
 1.640e+02 6.570e+02 4.800e+02 2.950e+02 1.430e+02 8.200e+01 4.200e+02
 1.240e+02 4.440e+02 2.300e+01 5.400e+01 3.660e+02 1.490e+02 1.000e+02
 2.420e+02 3.640e+02 3.520e+02 7.600e+01 6.800e+01 4.000e+01 2.090e+02
 7.400e+01 2.590e+02 8.800e+01 1.740e+02 2.460e+02 4.060e+02 3.100e+02
 2.900e+02 1.820e+02 1.190e+02 1.940e+02 1.300e+02 2.960e+02 1.020e+02
 6.210e+02 1.680e+02 4.020e+02 3.590e+02 4.220e+02 3.560e+02 5.540e+02
 4.680e+02 3.680e+02 1.260e+02 6.800e+02 1.110e+03 2.210e+02 7.140e+02
 1.060e+02 2.400e+01 6.470e+02 1.290e+03 4.950e+02 4.660e+02 1.560e+02
 2.920e+02 9.500e+01 3.800e+01 1.450e+02 3.040e+02 5.680e+02 1.790e+02
 4.560e+02 1.050e+03 4.100e+02 1.870e+02 5.200e+01 8.400e+01 3.600e+02
 1.250e+02 2.760e+02 3.900e+01 2.750e+02 1.900e+02 2.510e+02 2.270e+02
 1.340e+02 1.920e+02 2.050e+02 5.000e+01 2.120e+02 2.220e+02 5.800e+01
 6.680e+02 2.580e+02 2.280e+02 6.740e+02 1.970e+02 9.800e+01 1.380e+02
 1.460e+02 7.100e+02 9.450e+02 3.060e+02 6.700e+01 5.490e+02 2.530e+02
 5.670e+02 3.780e+02 4.000e+02 3.650e+02 9.700e+02 5.100e+02 5.020e+02
 3.940e+02 2.350e+02 2.200e+01 5.150e+02 3.090e+02 5.260e+02 2.480e+02
 7.540e+02 1.480e+02 2.980e+02 3.530e+02 2.720e+02 3.000e+01 3.600e+01
 3.420e+02 6.000e+02 4.100e+01 5.250e+02 1.120e+02 5.600e+01 2.020e+02
 1.360e+02 8.700e+01 2.910e+02 6.900e+01 2.890e+02 5.300e+01 8.600e+01
 2.790e+02 1.000e+00 2.340e+02 4.420e+02 8.900e+01 3.230e+02 2.040e+02
 1.130e+02 5.100e+01 2.140e+02 5.190e+02 2.540e+02 1.580e+02 1.224e+03
 4.230e+02 6.520e+02 4.730e+02 1.660e+02 8.860e+02 9.400e+01 1.890e+02
 2.800e+01 2.440e+02 9.020e+02 4.340e+02 6.620e+02 1.840e+02 7.340e+02
 5.500e+02 2.300e+02 5.140e+02 3.800e+02 2.150e+02 3.850e+02 1.420e+02
 2.780e+02 5.180e+02 5.720e+02 2.360e+02 1.800e+01 3.220e+02 8.770e+02
 3.970e+02 7.380e+02 5.010e+02 1.180e+02 6.920e+02 3.320e+02 6.320e+02
 5.220e+02 3.790e+02 1.040e+02 3.050e+02 9.900e+01 6.500e+01 1.230e+02
 1.530e+02 5.320e+02 6.200e+01 1.990e+02 2.610e+02 3.550e+02 4.050e+02
 3.270e+02 2.570e+02 3.820e+02]

ExterQual  :  ['TA' 'Gd' 'Ex' 'Fa']

ExterCond  :  ['TA' 'Gd' 'Fa' 'Po' 'Ex']

Foundation  :  ['CBlock' 'PConc' 'BrkTil' 'Stone' 'Slab' 'Wood']

BsmtQual  :  ['TA' 'Gd' 'Ex' 'Fa' nan]

BsmtCond  :  ['TA' 'Po' 'Fa' 'Gd' nan]

BsmtExposure  :  ['No' 'Gd' 'Mn' 'Av' nan]

BsmtFinType1  :  [ 1.  2.  3.  4.  5.  6. nan]

BsmtFinSF1  :  [ 468.  923.  791.  602.  263.    0.  935.  637.  804. 1051.  156.  300.
  514.  110.   28. 1373.  578.   24.   16.  326. 1414.  126.  250. 1129.
 1298.  280.  368.  376.  466.  244. 1032.  484.  833.  506. 1137.  687.
  329.  698. 1059. 1010. 1500.  670.  944. 1188.  856.  936.  734.  339.
  648.  532.  481.  588.  717.   48.  579.  274.  780.  176.  283.  788.
  474.  188.  452.  264.  360.  276.  448.  960.  766. 1026.   73.  736.
  704.  240.  775. 1319.  267. 1092.  964.  288.  104.  192.  954. 1346.
 1433.  860.  870.  353.  198.  480. 1682.  672. 1070.  528.  133.  238.
  426.  375.  343.  747.   76.  308.  615.  679.   78.   42.  915.  294.
  469.  207.  458.  476. 1341.  564.  844.  847.  850.  284. 1965.  341.
  741.  189.  600.  400.  363.  832.  622.  225. 1333.  888.  636.  500.
  726.  254.  306.  435.  389.  320.  279.  536.  644. 1360.  986. 1232.
 2288. 1531. 1230. 1015. 1037. 1142. 1262. 1972.  836.  881.  876. 2146.
 1557.  800. 1196.  652.  494.  651.  241.  683.  913. 1173.  236.  816.
  624. 1294.  379. 2158.  682. 1430.  771.  410.   54.  516.   52.   36.
  331.   68.  660.  864.  544.  140. 1733.  601.  962.  507.  549. 1252.
  121.  560.  553.  955.  432.  403.  625.  310.  998.  388.  568.  100.
 1312. 1387.  708.  172.  155.  490.  700.  931.  699.  390.  384.  872.
  745.  546.  621.  630.  433.  120.  941.  826.  633.  421.  220.  273.
  134.  522.  169.  749. 1200. 1152.  527.  456.  257.  342.  173.  552.
  460.   70. 1094.  820. 1021. 1104. 1359.  902.  755.  950.  606. 1259.
  710. 1234. 1246. 1111. 1478.  399.  547.  332. 1078.  626.  728.  793.
  246.  154.   65.  312.  784.  471.  454.  803. 1476.  445.  767.  841.
   55. 1758. 1115.  462.  904. 1640.  594.  720.  114.  718.  330.  496.
  706.  851.  138.  450.  656.  504.  319. 1337. 1034.  983. 1206.  890.
  988. 1023.  252.  119.  483.  350.  286.  378. 1012. 1728. 1375. 1420.
 1082. 1249.   40. 2257. 1149. 1075.  372.   20. 1204.  846. 1073. 1087.
 1660.  228. 1096.  729.  666.   80.  362.  537.  472.  397.   53.  764.
  489.  190.  520.  550. 1027. 1004. 1141.  681.  612.  813.  128. 1044.
  828.  301.  603.  732.  260.  583.  658.   32.  531.  575. 1053.  958.
  774.  148.  744.  697.  315.  673.  370.   96.  590.  116.  234.  200.
  406.  175.  521.  201.   nan  203.  196.  758.  221. 1300.  634.  776.
  336.  599. 1035.  324.  779. 1271.  355. 2085. 1153.  770.  262.  722.
 1308.  688.  663.  781.   88. 1194. 1538.  662. 1593.   56.  609. 1033.
  224.  281.  210. 1116.  366.  299. 1474. 1383.  893. 1036.  920. 1029.
 1223. 1011. 1571. 1309.  865.  769.  318.  501.  437.  785.  358.  534.
  638.  647.  838.  186.  871.  414.  248.  926. 1101. 1047.  797. 1558.
  256.  321. 1328.  903.  492.  566.   81.  314.  930.  632.  725. 1151.
 1518. 1304. 1812. 1684.  778.  938.  669. 1178.  866. 1030.  762.  848.
 1000.  918. 1084.  574. 1181. 1048.  335. 1225. 1220. 1572.  812.  727.
  787.  968.   60.  937.  565.  417.  901.  457. 1732. 1632.  973.  910.
  346.  819.  792.  617.  438.  311.  654. 1386.  130.  144.  150.  873.
  908.  668.  512.  408.  441.   85.  595.  292.  242.  952.  739. 1098.
  782.  122.  168.  259.  316.  317.  351.  354.  485.  925.  513.  249.
  748.  216.  386.  258.  587.  491.  453.  557. 1080.  497.  608.   51.
  539.  420.  502.  671.  385. 1412. 1198.  709.  132.  611. 4010.  467.
   77.  371.  113.  533.  540.  577.  434.  548.  967.  737. 1573. 1001.
  585. 1392. 1239.  924.  949.  215. 1329.  503. 1148. 1112.  796.  811.
 1090.  596.  773. 1127. 1110.  705. 1218.  205. 1191. 1416. 1005.  951.
  402.  282.  382.  373. 1369. 1505. 1290.  880.  994.  415. 1038.  505.
 1182.  380.  247. 1562. 1836.  278.  554.  162.  181.  712.  659. 1118.
  361.  760.  799.  996.  486.  939.  623.  678.  914.  824.  271.  488.
 1018.  338.  580.  701.  455.  809.  953.  381.  208.  143.  576.  416.
  347.  510.  194.  794.  810.  535.  230.  425.  261.  393. 1576. 1122.
  853.  894.  509.  639.  685.  976.  475.  691.  424.  305.  646.  526.
  374. 1564.  909. 1136. 1350. 1455. 1243.  149. 1224.  337.]

BsmtFinType2  :  [ 1.  2.  3.  4.  5.  6. nan]

BsmtFinSF2  :  [ 144.    0.   78.  859.  981.   42.   46.  162.  174.  350.  263. 1073.
   12.  159.  474.  453.  684.  387.  688.  252.  590.  284.  276.  168.
  294.  622.  113. 1526.  360.  774.  364.  596.  884.   92.  216.  136.
  147.  201.  512.  247.  202.  483.  750.   60.  102.   95.   63.  262.
  393.  286.  450.   72.  243.  694.  875.  507.  435.  419.  250.  116.
  624.   76.  270.  110.  288.  186.  449.   48.  613.  495.  852.  555.
  799.  811.  842.  670.  382.  456.  308.   52.  196.  128.  488.  319.
  273.   nan  240.  956.  723.  120.  679.   40.  121.  604.  153.  619.
    6.  351. 1037.  829.  264.   38.  206.  167.  543.  259.  404.  138.
  955.  691.  354.   66.  154.  442.  448.  210.  227.  398.  127.  722.
  761.  529.  522.  873.  891.  755.  321.  915.  417.  432.  465.  841.
  105.  831.  278. 1020.  530.   80.  904.  539.  620.  156.  108.  492.
 1393. 1039.  497.   68.  402.  748.  281.  912.  373.  982.  826.  850.
 1164. 1083.  400.  337.  297.  344.]

BsmtUnfSF  :  [ 270.  406.  137.  324. 1017.  763.  233.  789.  663.    0.  354.  327.
  225.  341.  836. 1590. 1544. 1588. 1794. 1473. 1093. 1346. 1324. 1129.
   58.  847. 1629. 1595. 1218.   54.  831.  816.  223.  261.  190.  840.
  320.  224.  290.  286.  610.  491.  659. 1323.  143.  386.  534.  150.
  500.  533.  228.  470.  482.  136. 1604.  292.  125.  510.  832.  525.
  456.  576.  161.  237.  415.  661.  357.  827.  247.  678.  930.  346.
  455.  200.  634.  577.  144.  308.  316.  480.  252.  164.  888.  780.
  662.  656.  689.  186.  232.  120. 1128.   89.  328.  660.  153.  172.
  564.  218.  162. 1250.   86. 1198.  676.  140.  396.  296. 1040.  176.
  381.  126.  744.  960.  974.  618.  894.  850.  657.   80.  235. 1115.
  321.  756.  221.  434. 1958. 1258. 1214.  384. 1026. 1430. 1344.   30.
  370.  546.  395.   36. 1216.  166.  388.  208.  318.  590.   98.  158.
  100.  243. 1077.  846.  195.  476.  107. 1181.  722. 1064.  441.  304.
 1058.  471.  540. 1180.  543.  138.  624.  229.   79.  498.  466.  484.
  300.  220.  416.  379.  788.  342. 1736.  251.  278.  724.  467.  632.
 1082. 1598.  522.  425.  474.  643. 1084. 1451.  516. 1405.  728.  745.
 1204.  868.  130.  204.  219.  111.  264.  282.  262.  254.  549. 1696.
 1614.  408. 1043. 1436. 1402. 1530. 1348. 1836.  222.  422.  402. 1087.
 1158.  835. 1114. 1450.  276.  400. 1332.  122.  345.   28.  288.  182.
  189. 1376. 1726.  183.  249.  142.  306. 1619.  392.  932.  588.  216.
 1568.  160.  461.  265.  294.  356.  640.  613.  507.  141.  175.  313.
  785.  280.  565.  727.  295. 1866.  572.  323.   93.  810.  792.  405.
 1054. 1313.  560.  720.  630. 1248.  996.  108.  206.  559.  174. 1041.
  901.  339.  240.  504.  269.  600.  801.  861.  677.  917.  972.  741.
  245. 1022.  297.  248.  679.  938. 1048.  672.  198.  483.  851.   46.
  585.  552.  550.  825.  916.  104.  605.  348.  616. 1468.  479.  380.
  382. 1474.  704.  649.  513.  322.  132.  335. 1068.  944.  462.  608.
  615.  301. 1678.  604.   94.  583.  112.  674.  621.   91.   90.  561.
  118.  581.  760.  412.  135. 1527.  432.  526.  250.  117.  912.  338.
  594.   75.  778.  898. 1008. 1280.  332. 1018. 1152.  547. 1632. 1488.
  692.  469.  273.  738.  440. 1444.  213.  896.  684.   25.  275.  570.
  575.  430.  538.  165.  908.  454.  404. 1765. 1486. 1347.  596.  496.
 1318.  764. 1146.  438.  707.  167. 1173. 1519. 1242. 1341.  226.  794.
 1339. 1660. 1095. 1162.  284.  355.  439.  375. 1328. 1211.  210.  194.
  587.   72.  177.  147.  584.  952.  599. 1439.  723. 1625.  196. 1728.
  242.  638.  505.  529.  503.  437.  330.  998. 1824.  747.  892.  168.
  675.  444.  188.  453.  936.  181. 1800.  398. 1117.   96.  680.  828.
  931.  481.  459.  407.  448.  797.  508.  739.  784.  869.  329.  849.
  554.  460.  949.  475.  992.  497.   nan  449.  897. 1046.  796.  768.
 1272.  880.  647.  451.  536.  197.  234.  852.  326.  212.  925.  545.
  639.  298.  331.  457.  628. 1615.  598.  631.  268.  110.  255.   83.
  782.  180. 1257.  163. 1421. 1508. 1327.  541.  725. 1228.  336.  884.
  591.  397.  555.  367.  520.  821.  173.  592. 1140.  910.  352. 1495.
  403.  443.  873.  393.   35. 1092.  325.   88.  271.  207.  217.  686.
  749.   52.  277. 1168.  903.  752.  918. 1559.   53.  815. 1028.  201.
   22.  372. 1012.  359.  214. 1337.  423.  263. 1694. 1108.  740. 1704.
  636. 1582. 1802. 1706.  436. 1602. 1298.  272.  729. 1300.  698. 1246.
 1266.   56.  192. 1510.  941.  736. 1066.  770. 1369. 1496.  394. 1528.
  769.  716.  982. 1302. 1314. 1335. 1574. 1685. 1100. 1143.  365. 1461.
   76.  527. 1081. 1550.  179.  319.  385. 1594.  171.  548.  431.  433.
  710. 1560.  191.   63.  765. 1144.  410.  424.  928.  156.  666.   55.
  312.  569.  967.  808. 1075.  667.  371.  819.  809.  966.  750.  969.
  366.  771.  717.  187.  635.   20.  420.  231.   95.  109.  486.  935.
  411.  951. 1105. 1643. 2140. 1526. 1453. 1270.  879.  472.  646.  215.
  845.  501.  399.  102.  193.  860.  683.  333.  426. 1330.  115. 1179.
  123. 1085. 1195.  238.  971.  285. 1680.  427. 1262.  279.  311.  957.
  106.  856.   17. 1689.  963.  970.  593. 1491.   27.   48.  185.  490.
  595. 1851.  113.  781. 1074. 1640. 2062. 1191.  889.  644. 1390.  523.
  494.  945.   42.  127.  363.  369. 1618. 1721. 1090. 1209. 1088. 1251.
 1326. 1052.  767. 1126.  848. 1035.  253.  655.  358.  742. 1504. 1254.
  858. 1118. 1400. 1131.  891.   78.  939.  362.  450.  530.  713.  293.
   34.  360. 1404.   60. 1584.  307.  556.   99.  350.  517.  929.  521.
 1153.  715.  802. 1556.  236.  863.  502.  817.  844.  798. 1226. 1020.
  641.  477. 1921.  830. 1967. 1466.  872.   33. 1411. 1057.  532. 1308.
  260. 1558.  535.  579.   57.  170. 1065.  258.  131.  390.  340. 1150.
  864.  128.  818.  299.  637.  697.  671.  487. 1664.  129.  378.  383.
   45. 1503.]

TotalBsmtSF  :  [ 882. 1329.  928.  926. 1280.  763. 1168.  789. 1300. 1405.  483.  525.
  855.  836. 1590. 1544. 1698. 1822. 2846. 1671. 1370. 1324. 1145.  384.
  847. 1629. 1595. 1218. 1468.  831.  816. 1208. 1231. 1390. 1488.  840.
  600.  756.  530. 1642.  975. 1492. 1829. 1224.  715. 1232. 1209. 1510.
  533. 1728. 1140.  782. 1080. 1604. 1480. 1143. 1206. 1244.  832.  864.
  972.  988.  576. 1175. 1395.  709.  936. 1347.  827. 1027. 1008.  678.
  930.  346.  738. 1108.  765.  608.  572.  835.  780.  528. 1124.  888.
  662. 1422.  689. 1212.  707.  856. 1832. 1319.  720. 1420.  660. 1117.
  663. 1172. 1508. 1250. 1433.  946. 1222.  676.  870.  878. 1026.  876.
 1978. 1040.  848.    0.  381. 1196.  744.  960. 1107.  894. 1528. 1032.
  423.  982. 1191.  480.  629. 1594. 1049. 1243. 1958. 1336. 1214. 1068.
 1430. 1344.  945.  546.  833. 1216.  624. 1679. 1152. 1434. 2208. 1418.
 1587.  952. 1181. 1122. 1427. 1043. 1058. 1621. 1116. 1176. 1180.  804.
 1057. 1776. 1365. 2020. 2630. 1736. 1782. 1739. 1504. 1774. 1760. 2452.
 1082. 1598. 1358. 1306. 1350. 2492. 2200. 1884. 1451. 1712.  728.  745.
 1220.  868.  846.  698.  794. 1177. 1455. 2024. 1070. 1173. 1696. 1614.
 1702. 2458. 1436. 1402. 1530. 1372.  900. 1836. 1652. 1553.  812. 1141.
 1158. 1512. 1114. 1450.  913. 1332.  754.  980. 1024.  912. 2014. 1376.
 1726.  691. 1694. 1740.  392.  752.  932. 1288.  908. 1568. 1165. 1048.
 1313. 1292. 1680. 1453. 1562. 1169. 1202. 1382. 1200. 1866. 1062.  631.
  793. 1031.  699.  792.  405. 1054.  560.  416.  630. 1248. 1380.  951.
 1105.  160.  795. 1041.  732.  941. 1045.  901.  240.  504.  690.  801.
  768.  861.  677.  917.  741.  245. 1022.  297.  468. 1072.  672. 1020.
 1204.  858.  585. 1052.  456.  552. 1138.  825. 1073.  747. 1089.  520.
 1079. 1094. 1555. 1720. 1838. 1282. 1254. 1498.  704. 1449.  990. 1463.
 1431.  907.  914. 1569.  944. 1462. 1417. 1578. 1014.  547. 1078. 1678.
 1150.  583. 1273.  920. 1112. 1561. 1067. 1310.  516.  561. 1803.  760.
 1596.  902.  957. 1582. 2190. 1641.  712. 1645. 1188.  796.  828.  784.
  680.  916. 1348. 1664. 1337. 1632. 1710. 1675. 1260. 2048. 1211. 1444.
 1236.  896. 1055. 2418. 1950. 1850. 1620. 1414.  948. 1148. 2535. 1603.
 1479. 1765. 1858. 1367. 1800. 1342.  764. 1415. 1393. 1146. 1037. 1519.
 1982. 1064. 1242. 1341.  955. 1460. 1363. 1660. 1162.  886.  984.  890.
 1001. 1848. 1235. 1419. 1557.  970. 1230.  994. 1426. 1625. 1118.  348.
 1296. 1036. 1104.  998. 1824.  892. 1312. 1081. 1256.  854.  192.  931.
  884.  481.  684.  904.  407.  448.  797.  973.  723.  869.  554.  981.
  949.  739.  992.  565.   nan  989. 1100.  810. 1272.  880.  451.  536.
 1046.  450. 1060. 1524.  570. 1580. 1509.  621. 1077. 1602.  628. 1615.
 2271. 1751. 1401. 1182. 1076. 1257. 1357. 1778. 1129.  850. 1445. 1564.
 1351. 1092. 1127. 1029.  911. 1228.  644.  798.  942. 1091. 1898. 1151.
  173.  356.  592. 1840.  910. 1277. 1518.  352. 1495. 1432. 1666. 1964.
 1189.  550.  526.  462. 1113.  845.  686.  923.  938.  903. 1302. 1166.
 1149. 2660. 1612. 2220. 1742. 1284.  725. 1529. 1153. 1259. 1084.  925.
 1061. 1790. 2108. 1934. 1994. 2552. 1704. 2320.  918. 1802. 1706. 1317.
  895. 1721. 1298. 1362. 1554. 1577. 1326. 1246. 1406. 1266.  915. 1779.
 1408. 1389. 1066. 1325. 1369. 1542. 1966. 1538. 1494. 1338. 1335. 1574.
 1685. 1461. 1223. 1044. 1378. 1511. 1352. 1550. 1339. 2002. 2461. 1295.
 1093.  964. 1174. 1042. 1130. 1592.  822.  666.  370.  808. 1560. 1053.

In [194]:
import math
print(math.nan)

nan

In [195]:
import numpy as np
np.NaN

nan

## NaN

In [196]:
df_copy.fillna(value=-1, inplace=True)

In [197]:
n = df_copy.columns.values.tolist()
m = round(df_copy.shape[0]*.80)

l = []
for i in n:
    print(i)
    if df_copy[i].value_counts().get(-1) != None:
#        print(m, " < ", df_copy[i].value_counts().get(-1))
        if m < df_copy[i].value_counts().get(-1):
            print(i)
            l.append(i)
            df_copy.drop(labels=i, axis=1, inplace=True)

Id
MSSubClass
MSZoning
LotFrontage
LotArea
Street
Alley
Alley
LotShape
LandContour
Utilities
LotConfig
LandSlope
Neighborhood
Condition1
Condition2
BldgType
HouseStyle
OverallQual
OverallCond
YearBuilt
YearRemodAdd
RoofStyle
RoofMatl
Exterior1st
Exterior2nd
MasVnrType
MasVnrArea
ExterQual
ExterCond
Foundation
BsmtQual
BsmtCond
BsmtExposure
BsmtFinType1
BsmtFinSF1
BsmtFinType2
BsmtFinSF2
BsmtUnfSF
TotalBsmtSF
Heating
HeatingQC
CentralAir
Electrical
1stFlrSF
2ndFlrSF
LowQualFinSF
GrLivArea
BsmtFullBath
BsmtHalfBath
FullBath
HalfBath
BedroomAbvGr
KitchenAbvGr
KitchenQual
TotRmsAbvGrd
Functional
Fireplaces
FireplaceQu
GarageType
GarageYrBlt
GarageFinish
GarageCars
GarageArea
GarageQual
GarageCond
PavedDrive
WoodDeckSF
OpenPorchSF
EnclosedPorch
3SsnPorch
ScreenPorch
PoolArea
PoolQC
PoolQC
Fence
Fence
MiscFeature
MiscFeature
MiscVal
MoSold
YrSold
SaleType
SaleCondition

In [198]:
df_copy.replace(to_replace= -1, value=np.NaN, inplace=True)

In [199]:
df_copy.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,1.0,80.0,11622,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,120,0,0,6,2010,1.0,1
1,1462,20,0.0,81.0,14267,Pave,IR1,Lvl,AllPub,Corner,...,36,0,0,0,0,12500,6,2010,1.0,1
2,1463,60,0.0,74.0,13830,Pave,IR1,Lvl,AllPub,Inside,...,34,0,0,0,0,0,3,2010,1.0,1
3,1464,60,0.0,78.0,9978,Pave,IR1,Lvl,AllPub,Inside,...,36,0,0,0,0,0,6,2010,1.0,1
4,1465,120,0.0,43.0,5005,Pave,IR1,HLS,AllPub,Inside,...,82,0,0,144,0,0,1,2010,1.0,1

In [200]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 76 columns):
Id               1459 non-null int64
MSSubClass       1459 non-null int64
MSZoning         1455 non-null float64
LotFrontage      1232 non-null float64
LotArea          1459 non-null int64
Street           1459 non-null object
LotShape         1459 non-null object
LandContour      1459 non-null object
Utilities        1457 non-null object
LotConfig        1459 non-null object
LandSlope        1459 non-null object
Neighborhood     1459 non-null object
Condition1       1459 non-null object
Condition2       1459 non-null object
BldgType         1459 non-null object
HouseStyle       1459 non-null object
OverallQual      1459 non-null int64
OverallCond      1459 non-null int64
YearBuilt        1459 non-null int64
YearRemodAdd     1459 non-null int64
RoofStyle        1459 non-null object
RoofMatl         1459 non-null object
Exterior1st      1458 non-null object
Exterior2nd      1458 non-null object
MasVnrType       1443 non-null object
MasVnrArea       1444 non-null float64
ExterQual        1459 non-null object
ExterCond        1459 non-null object
Foundation       1459 non-null object
BsmtQual         1415 non-null object
BsmtCond         1414 non-null object
BsmtExposure     1415 non-null object
BsmtFinType1     1417 non-null float64
BsmtFinSF1       1458 non-null float64
BsmtFinType2     1417 non-null float64
BsmtFinSF2       1458 non-null float64
BsmtUnfSF        1458 non-null float64
TotalBsmtSF      1458 non-null float64
Heating          1459 non-null int64
HeatingQC        1459 non-null int64
CentralAir       1459 non-null int64
Electrical       1459 non-null int64
1stFlrSF         1459 non-null int64
2ndFlrSF         1459 non-null int64
LowQualFinSF     1459 non-null int64
GrLivArea        1459 non-null int64
BsmtFullBath     1457 non-null float64
BsmtHalfBath     1457 non-null float64
FullBath         1459 non-null int64
HalfBath         1459 non-null int64
BedroomAbvGr     1459 non-null int64
KitchenAbvGr     1459 non-null int64
KitchenQual      1458 non-null float64
TotRmsAbvGrd     1459 non-null int64
Functional       1457 non-null float64
Fireplaces       1459 non-null int64
FireplaceQu      729 non-null float64
GarageType       1383 non-null float64
GarageYrBlt      1381 non-null float64
GarageFinish     1381 non-null float64
GarageCars       1458 non-null float64
GarageArea       1458 non-null float64
GarageQual       1381 non-null float64
GarageCond       1381 non-null float64
PavedDrive       1459 non-null int64
WoodDeckSF       1459 non-null int64
OpenPorchSF      1459 non-null int64
EnclosedPorch    1459 non-null int64
3SsnPorch        1459 non-null int64
ScreenPorch      1459 non-null int64
PoolArea         1459 non-null int64
MiscVal          1459 non-null int64
MoSold           1459 non-null int64
YrSold           1459 non-null int64
SaleType         1458 non-null float64
SaleCondition    1459 non-null int64
dtypes: float64(22), int64(32), object(22)
memory usage: 866.4+ KB

In [201]:
df_copy.to_csv('test_clean.csv')