In [696]:
import pandas as pd
import numpy as np
from ycimpute.imputer import iterforest

In [697]:
file = 'train_clean.csv'
df = pd.read_csv(file)
df.head()

,Unnamed: 0,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0,1,60,1,65.0,8450,1,1,1,1,...,0,0,0,0,0,2,2008,1,1,208500
1,1,2,20,1,80.0,9600,1,1,1,1,...,0,0,0,0,0,5,2007,1,1,181500
2,2,3,60,1,68.0,11250,1,2,1,1,...,0,0,0,0,0,9,2008,1,1,223500
3,3,4,70,1,60.0,9550,1,2,1,1,...,272,0,0,0,0,2,2006,1,2,140000
4,4,5,60,1,84.0,14260,1,2,1,1,...,0,0,0,0,0,12,2008,1,1,250000

In [698]:
df.drop(labels=['Id', 'Unnamed: 0', 'FireplaceQu'], axis=1, inplace=True)

In [699]:
df_copy = df.copy()

In [700]:
no_missingdata = df_copy.columns[(df_copy.isnull().any() != True)].tolist()
no_missingdata

['MSSubClass',
 'MSZoning',
 'LotArea',
 'Street',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'OverallQual',
 'OverallCond',
 'YearBuilt',
 'YearRemodAdd',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtFinSF1',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 'Heating',
 'HeatingQC',
 'CentralAir',
 '1stFlrSF',
 '2ndFlrSF',
 'LowQualFinSF',
 'GrLivArea',
 'BsmtFullBath',
 'BsmtHalfBath',
 'FullBath',
 'HalfBath',
 'BedroomAbvGr',
 'KitchenAbvGr',
 'KitchenQual',
 'TotRmsAbvGrd',
 'Functional',
 'Fireplaces',
 'GarageCars',
 'GarageArea',
 'PavedDrive',
 'WoodDeckSF',
 'OpenPorchSF',
 'EnclosedPorch',
 '3SsnPorch',
 'ScreenPorch',
 'PoolArea',
 'MiscVal',
 'MoSold',
 'YrSold',
 'SaleType',
 'SaleCondition',
 'SalePrice']

In [701]:
missingdata = df_copy.columns[df_copy.isnull().any()].tolist()
missingdata

['LotFrontage',
 'MasVnrType',
 'MasVnrArea',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Electrical',
 'GarageType',
 'GarageYrBlt',
 'GarageFinish',
 'GarageQual',
 'GarageCond']

In [702]:
len(missingdata)

14

## Impute `LotFrontage`

In [703]:
column = 'LotFrontage'

In [704]:
data_ = no_missingdata
data_

['MSSubClass',
 'MSZoning',
 'LotArea',
 'Street',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'OverallQual',
 'OverallCond',
 'YearBuilt',
 'YearRemodAdd',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtFinSF1',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 'Heating',
 'HeatingQC',
 'CentralAir',
 '1stFlrSF',
 '2ndFlrSF',
 'LowQualFinSF',
 'GrLivArea',
 'BsmtFullBath',
 'BsmtHalfBath',
 'FullBath',
 'HalfBath',
 'BedroomAbvGr',
 'KitchenAbvGr',
 'KitchenQual',
 'TotRmsAbvGrd',
 'Functional',
 'Fireplaces',
 'GarageCars',
 'GarageArea',
 'PavedDrive',
 'WoodDeckSF',
 'OpenPorchSF',
 'EnclosedPorch',
 '3SsnPorch',
 'ScreenPorch',
 'PoolArea',
 'MiscVal',
 'MoSold',
 'YrSold',
 'SaleType',
 'SaleCondition',
 'SalePrice']

In [705]:
data_.append(column)

In [706]:
data_

['MSSubClass',
 'MSZoning',
 'LotArea',
 'Street',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'OverallQual',
 'OverallCond',
 'YearBuilt',
 'YearRemodAdd',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtFinSF1',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 'Heating',
 'HeatingQC',
 'CentralAir',
 '1stFlrSF',
 '2ndFlrSF',
 'LowQualFinSF',
 'GrLivArea',
 'BsmtFullBath',
 'BsmtHalfBath',
 'FullBath',
 'HalfBath',
 'BedroomAbvGr',
 'KitchenAbvGr',
 'KitchenQual',
 'TotRmsAbvGrd',
 'Functional',
 'Fireplaces',
 'GarageCars',
 'GarageArea',
 'PavedDrive',
 'WoodDeckSF',
 'OpenPorchSF',
 'EnclosedPorch',
 '3SsnPorch',
 'ScreenPorch',
 'PoolArea',
 'MiscVal',
 'MoSold',
 'YrSold',
 'SaleType',
 'SaleCondition',
 'SalePrice',
 'LotFrontage']

In [707]:
index_na = pd.isnull(df_copy[data_]).any(1).nonzero()[0].tolist()
index_na

[7,
 12,
 14,
 16,
 24,
 31,
 42,
 43,
 50,
 64,
 66,
 76,
 84,
 95,
 100,
 104,
 111,
 113,
 116,
 120,
 126,
 131,
 133,
 136,
 147,
 149,
 152,
 153,
 160,
 166,
 169,
 170,
 177,
 180,
 186,
 191,
 203,
 207,
 208,
 214,
 218,
 221,
 234,
 237,
 244,
 249,
 269,
 287,
 288,
 293,
 307,
 308,
 310,
 319,
 328,
 330,
 335,
 342,
 346,
 347,
 351,
 356,
 360,
 361,
 364,
 366,
 369,
 370,
 375,
 384,
 392,
 393,
 404,
 405,
 412,
 421,
 426,
 447,
 452,
 457,
 458,
 459,
 465,
 470,
 484,
 490,
 496,
 516,
 518,
 529,
 537,
 538,
 539,
 541,
 545,
 559,
 560,
 564,
 569,
 580,
 593,
 610,
 611,
 612,
 616,
 623,
 626,
 641,
 645,
 660,
 666,
 668,
 672,
 679,
 682,
 685,
 687,
 690,
 706,
 709,
 714,
 720,
 721,
 726,
 734,
 745,
 746,
 751,
 757,
 770,
 783,
 785,
 789,
 791,
 794,
 811,
 816,
 817,
 822,
 828,
 840,
 845,
 851,
 853,
 855,
 856,
 859,
 865,
 868,
 879,
 882,
 893,
 900,
 904,
 908,
 911,
 917,
 925,
 927,
 928,
 929,
 939,
 941,
 944,
 953,
 961,
 967,
 975,
 980,
 983,
 988,
 996,
 997,
 1003,
 1006,
 1017,
 1018,
 1024,
 1030,
 1032,
 1033,
 1035,
 1037,
 1041,
 1045,
 1057,
 1059,
 1064,
 1077,
 1084,
 1086,
 1097,
 1108,
 1110,
 1116,
 1122,
 1124,
 1138,
 1141,
 1143,
 1146,
 1148,
 1153,
 1154,
 1161,
 1164,
 1177,
 1180,
 1190,
 1193,
 1206,
 1213,
 1230,
 1233,
 1244,
 1247,
 1251,
 1253,
 1260,
 1262,
 1268,
 1270,
 1271,
 1272,
 1276,
 1277,
 1286,
 1287,
 1290,
 1300,
 1301,
 1309,
 1312,
 1318,
 1321,
 1342,
 1346,
 1348,
 1354,
 1356,
 1357,
 1358,
 1362,
 1365,
 1368,
 1373,
 1381,
 1383,
 1396,
 1407,
 1417,
 1419,
 1423,
 1424,
 1429,
 1431,
 1441,
 1443,
 1446]

Porcentaje de NaN

In [708]:
(len(index_na)/df_copy.shape[0])*100

17.73972602739726

In [709]:
df_data_ = df_copy[data_]
df_data_.head()

,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,LotFrontage
0,60,1,8450,1,1,1,1,1,1,1,...,0,0,0,0,2,2008,1,1,208500,65.0
1,20,1,9600,1,1,1,1,2,1,2,...,0,0,0,0,5,2007,1,1,181500,80.0
2,60,1,11250,1,2,1,1,1,1,1,...,0,0,0,0,9,2008,1,1,223500,68.0
3,70,1,9550,1,2,1,1,3,1,3,...,0,0,0,0,2,2006,1,2,140000,60.0
4,60,1,14260,1,2,1,1,2,1,4,...,0,0,0,0,12,2008,1,1,250000,84.0

In [710]:
df_data_[column].unique()

array([ 65.,  80.,  68.,  60.,  84.,  85.,  75.,  nan,  51.,  50.,  70.,
        91.,  72.,  66., 101.,  57.,  44., 110.,  98.,  47., 108., 112.,
        74., 115.,  61.,  48.,  33.,  52., 100.,  24.,  89.,  63.,  76.,
        81.,  95.,  69.,  21.,  32.,  78., 121., 122.,  40., 105.,  73.,
        77.,  64.,  94.,  34.,  90.,  55.,  88.,  82.,  71., 120., 107.,
        92., 134.,  62.,  86., 141.,  97.,  54.,  41.,  79., 174.,  99.,
        67.,  83.,  43., 103.,  93.,  30., 129., 140.,  35.,  37., 118.,
        87., 116., 150., 111.,  49.,  96.,  59.,  36.,  56., 102.,  58.,
        38., 109., 130.,  53., 137.,  45., 106., 104.,  42.,  39., 144.,
       114., 128., 149., 313., 168., 182., 138., 160., 152., 124., 153.,
        46.])

In [711]:
impute_ = iterforest.IterImput().complete(df_data_.as_matrix())

/Users/jacoboleon/.pyenv/versions/anaconda3-5.1.0/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [712]:
impute_

array([[6.00000e+01, 1.00000e+00, 8.45000e+03, ..., 1.00000e+00,
        2.08500e+05, 6.50000e+01],
       [2.00000e+01, 1.00000e+00, 9.60000e+03, ..., 1.00000e+00,
        1.81500e+05, 8.00000e+01],
       [6.00000e+01, 1.00000e+00, 1.12500e+04, ..., 1.00000e+00,
        2.23500e+05, 6.80000e+01],
       ...,
       [7.00000e+01, 1.00000e+00, 9.04200e+03, ..., 1.00000e+00,
        2.66500e+05, 6.60000e+01],
       [2.00000e+01, 1.00000e+00, 9.71700e+03, ..., 1.00000e+00,
        1.42125e+05, 6.80000e+01],
       [2.00000e+01, 1.00000e+00, 9.93700e+03, ..., 1.00000e+00,
        1.47500e+05, 7.50000e+01]])

In [713]:
df_impute_ = pd.DataFrame(impute_)
df_impute_.head()

,0,1,2,3,4,5,6,7,8,9,...,52,53,54,55,56,57,58,59,60,61
0,60.0,1.0,8450.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,2.0,2008.0,1.0,1.0,208500.0,65.0
1,20.0,1.0,9600.0,1.0,1.0,1.0,1.0,2.0,1.0,2.0,...,0.0,0.0,0.0,0.0,5.0,2007.0,1.0,1.0,181500.0,80.0
2,60.0,1.0,11250.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,9.0,2008.0,1.0,1.0,223500.0,68.0
3,70.0,1.0,9550.0,1.0,2.0,1.0,1.0,3.0,1.0,3.0,...,0.0,0.0,0.0,0.0,2.0,2006.0,1.0,2.0,140000.0,60.0
4,60.0,1.0,14260.0,1.0,2.0,1.0,1.0,2.0,1.0,4.0,...,0.0,0.0,0.0,0.0,12.0,2008.0,1.0,1.0,250000.0,84.0

In [714]:
df_impute_.shape

(1460, 62)

In [715]:
df_impute_.isnull().any().any()

False

In [716]:
df_impute_ = round(df_impute_)

In [717]:
df_impute_.loc[index_na]

,0,1,2,3,4,5,6,7,8,9,...,52,53,54,55,56,57,58,59,60,61
7,60.0,1.0,10382.0,1.0,2.0,1.0,1.0,3.0,1.0,7.0,...,0.0,0.0,0.0,350.0,11.0,2009.0,1.0,1.0,200000.0,86.0
12,20.0,1.0,12968.0,1.0,3.0,1.0,1.0,1.0,1.0,10.0,...,0.0,176.0,0.0,0.0,9.0,2008.0,1.0,1.0,144000.0,69.0
14,20.0,1.0,10920.0,1.0,2.0,1.0,1.0,3.0,1.0,12.0,...,0.0,0.0,0.0,0.0,5.0,2008.0,1.0,1.0,157000.0,78.0
16,20.0,1.0,11241.0,1.0,2.0,1.0,1.0,4.0,1.0,12.0,...,0.0,0.0,0.0,700.0,3.0,2010.0,1.0,1.0,149000.0,54.0
24,20.0,1.0,8246.0,1.0,2.0,1.0,1.0,1.0,1.0,10.0,...,0.0,0.0,0.0,0.0,5.0,2010.0,1.0,1.0,154000.0,68.0
31,20.0,1.0,8544.0,1.0,2.0,1.0,1.0,4.0,1.0,10.0,...,0.0,0.0,0.0,0.0,6.0,2008.0,1.0,1.0,149350.0,66.0
42,85.0,1.0,9180.0,1.0,2.0,1.0,1.0,4.0,1.0,13.0,...,0.0,0.0,0.0,0.0,12.0,2007.0,1.0,1.0,144000.0,54.0
43,20.0,1.0,9200.0,1.0,2.0,1.0,1.0,4.0,1.0,1.0,...,0.0,0.0,0.0,0.0,7.0,2008.0,1.0,1.0,130250.0,60.0
50,60.0,1.0,13869.0,1.0,3.0,1.0,1.0,3.0,1.0,18.0,...,0.0,0.0,0.0,0.0,7.0,2007.0,1.0,1.0,177000.0,91.0
64,60.0,1.0,9375.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,2.0,2009.0,1.0,1.0,219500.0,81.0
66,20.0,1.0,19900.0,1.0,1.0,1.0,1.0,1.0,1.0,12.0,...,0.0,0.0,0.0,0.0,7.0,2010.0,1.0,1.0,180000.0,111.0
76,20.0,1.0,8475.0,1.0,2.0,1.0,1.0,1.0,1.0,12.0,...,0.0,0.0,0.0,0.0,4.0,2008.0,1.0,1.0,135750.0,72.0
84,80.0,1.0,8530.0,1.0,2.0,1.0,1.0,1.0,1.0,18.0,...,0.0,0.0,0.0,700.0,5.0,2009.0,1.0,1.0,168500.0,73.0
95,60.0,1.0,9765.0,1.0,3.0,1.0,1.0,3.0,1.0,18.0,...,0.0,0.0,0.0,480.0,4.0,2009.0,1.0,1.0,185000.0,75.0
100,20.0,1.0,10603.0,1.0,2.0,1.0,1.0,1.0,1.0,7.0,...,0.0,0.0,0.0,0.0,2.0,2010.0,1.0,1.0,205000.0,76.0
104,50.0,2.0,7758.0,1.0,1.0,1.0,1.0,3.0,1.0,14.0,...,0.0,184.0,0.0,0.0,6.0,2007.0,1.0,1.0,169500.0,65.0
111,80.0,1.0,7750.0,1.0,2.0,1.0,1.0,1.0,1.0,18.0,...,0.0,0.0,0.0,0.0,4.0,2010.0,1.0,1.0,180000.0,63.0
113,20.0,1.0,21000.0,1.0,1.0,2.0,1.0,3.0,1.0,3.0,...,0.0,0.0,0.0,0.0,10.0,2007.0,3.0,2.0,217000.0,112.0
116,20.0,1.0,11616.0,1.0,1.0,1.0,1.0,1.0,1.0,10.0,...,0.0,0.0,0.0,0.0,9.0,2009.0,1.0,1.0,139000.0,81.0
120,80.0,1.0,21453.0,1.0,2.0,3.0,1.0,4.0,3.0,20.0,...,130.0,0.0,0.0,0.0,10.0,2006.0,1.0,1.0,180000.0,73.0
126,120.0,1.0,4928.0,1.0,2.0,1.0,1.0,1.0,1.0,21.0,...,0.0,0.0,0.0,0.0,2.0,2007.0,1.0,1.0,128000.0,51.0
131,60.0,1.0,12224.0,1.0,2.0,1.0,1.0,3.0,1.0,18.0,...,0.0,0.0,0.0,0.0,7.0,2009.0,1.0,1.0,244000.0,105.0
133,20.0,1.0,6853.0,1.0,2.0,1.0,1.0,1.0,1.0,17.0,...,0.0,0.0,0.0,0.0,6.0,2009.0,1.0,1.0,220000.0,57.0
136,20.0,1.0,10355.0,1.0,2.0,1.0,1.0,3.0,1.0,12.0,...,0.0,0.0,0.0,0.0,7.0,2007.0,1.0,1.0,143000.0,76.0
147,60.0,1.0,9505.0,1.0,2.0,1.0,1.0,4.0,1.0,18.0,...,0.0,0.0,0.0,0.0,5.0,2010.0,1.0,1.0,222500.0,65.0
149,50.0,2.0,6240.0,1.0,1.0,1.0,1.0,1.0,1.0,9.0,...,0.0,0.0,0.0,0.0,4.0,2006.0,1.0,1.0,115000.0,50.0
152,60.0,1.0,14803.0,1.0,2.0,1.0,1.0,4.0,1.0,7.0,...,0.0,0.0,0.0,0.0,6.0,2006.0,1.0,1.0,190000.0,54.0
153,20.0,1.0,13500.0,1.0,1.0,1.0,1.0,1.0,1.0,20.0,...,0.0,0.0,0.0,0.0,3.0,2008.0,1.0,1.0,235000.0,78.0
160,20.0,1.0,11120.0,1.0,2.0,1.0,1.0,4.0,1.0,2.0,...,0.0,0.0,0.0,0.0,6.0,2008.0,1.0,1.0,162500.0,54.0
166,20.0,1.0,10708.0,1.0,2.0,1.0,1.0,1.0,1.0,20.0,...,0.0,142.0,0.0,0.0,11.0,2009.0,3.0,1.0,190000.0,87.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1300,60.0,1.0,10762.0,1.0,2.0,1.0,1.0,4.0,1.0,18.0,...,0.0,0.0,0.0,0.0,5.0,2009.0,1.0,1.0,225000.0,76.0
1301,70.0,1.0,7500.0,1.0,2.0,2.0,1.0,1.0,1.0,3.0,...,0.0,224.0,0.0,0.0,11.0,2009.0,1.0,1.0,177500.0,70.0
1309,20.0,1.0,7153.0,1.0,1.0,1.0,1.0,1.0,1.0,13.0,...,0.0,0.0,0.0,0.0,6.0,2008.0,1.0,1.0,179200.0,64.0
1312,60.0,1.0,9572.0,1.0,2.0,1.0,1.0,1.0,1.0,4.0,...,0.0,0.0,0.0,0.0,6.0,2007.0,1.0,1.0,302000.0,84.0
1318,20.0,1.0,14781.0,1.0,3.0,1.0,1.0,4.0,1.0,1.0,...,0.0,0.0,0.0,0.0,8.0,2006.0,1.0,1.0,275000.0,54.0
1321,20.0,1.0,6627.0,1.0,2.0,1.0,1.0,3.0,1.0,9.0,...,0.0,0.0,0.0,0.0,7.0,2008.0,1.0,1.0,72500.0,61.0
1342,60.0,1.0,9375.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,8.0,2007.0,1.0,1.0,228500.0,75.0
1346,20.0,1.0,20781.0,1.0,3.0,1.0,1.0,4.0,1.0,7.0,...,290.0,0.0,0.0,0.0,6.0,2006.0,1.0,1.0,262500.0,73.0
1348,20.0,1.0,16196.0,1.0,4.0,3.0,1.0,1.0,1.0,13.0,...,0.0,0.0,0.0,0.0,8.0,2007.0,1.0,1.0,215000.0,100.0
1354,60.0,1.0,10316.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,6.0,2008.0,1.0,1.0,235000.0,82.0
1356,20.0,1.0,9477.0,1.0,1.0,1.0,1.0,3.0,1.0,12.0,...,0.0,0.0,0.0,0.0,10.0,2008.0,1.0,1.0,110000.0,81.0
1357,20.0,1.0,12537.0,1.0,2.0,1.0,1.0,4.0,1.0,12.0,...,0.0,0.0,0.0,0.0,4.0,2010.0,1.0,1.0,149900.0,43.0
1358,160.0,4.0,2117.0,1.0,1.0,1.0,1.0,1.0,1.0,6.0,...,0.0,0.0,0.0,0.0,6.0,2010.0,1.0,1.0,177500.0,28.0
1362,50.0,1.0,12513.0,1.0,2.0,1.0,1.0,2.0,1.0,12.0,...,0.0,0.0,0.0,0.0,6.0,2009.0,1.0,1.0,104900.0,79.0
1365,60.0,4.0,7500.0,1.0,1.0,1.0,1.0,1.0,1.0,6.0,...,0.0,0.0,0.0,0.0,1.0,2010.0,1.0,1.0,216000.0,64.0
1368,120.0,2.0,4435.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,6.0,2009.0,1.0,1.0,144000.0,37.0
1373,20.0,1.0,11400.0,1.0,1.0,1.0,1.0,1.0,1.0,4.0,...,0.0,0.0,0.0,0.0,3.0,2007.0,1.0,1.0,466500.0,93.0
1381,20.0,1.0,12925.0,1.0,2.0,1.0,1.0,3.0,1.0,12.0,...,0.0,0.0,0.0,0.0,5.0,2008.0,1.0,1.0,237500.0,98.0
1383,30.0,1.0,25339.0,1.0,1.0,1.0,1.0,1.0,1.0,10.0,...,0.0,0.0,0.0,0.0,8.0,2007.0,1.0,1.0,112000.0,89.0
1396,20.0,1.0,57200.0,1.0,2.0,2.0,1.0,1.0,3.0,17.0,...,0.0,0.0,0.0,0.0,6.0,2010.0,1.0,1.0,160000.0,87.0
1407,20.0,1.0,8780.0,1.0,2.0,1.0,1.0,3.0,1.0,5.0,...,0.0,0.0,0.0,0.0,3.0,2009.0,1.0,1.0,112000.0,71.0
1417,60.0,1.0,16545.0,1.0,2.0,1.0,1.0,1.0,1.0,4.0,...,0.0,0.0,0.0,0.0,5.0,2009.0,1.0,1.0,340000.0,93.0
1419,20.0,1.0,16381.0,1.0,2.0,1.0,1.0,1.0,1.0,3.0,...,0.0,0.0,0.0,0.0,12.0,2006.0,1.0,1.0,223000.0,88.0
1423,80.0,1.0,19690.0,1.0,2.0,1.0,1.0,4.0,1.0,16.0,...,0.0,0.0,738.0,0.0,8.0,2006.0,1.0,5.0,274970.0,125.0
1424,20.0,1.0,9503.0,1.0,1.0,1.0,1.0,1.0,1.0,12.0,...,0.0,0.0,0.0,0.0,6.0,2007.0,1.0,1.0,144000.0,81.0
1429,20.0,1.0,12546.0,1.0,2.0,1.0,1.0,3.0,1.0,7.0,...,0.0,0.0,0.0,0.0,4.0,2007.0,1.0,1.0,182900.0,100.0
1431,120.0,1.0,4928.0,1.0,2.0,1.0,1.0,1.0,1.0,21.0,...,0.0,0.0,0.0,0.0,10.0,2009.0,1.0,1.0,143750.0,49.0
1441,120.0,2.0,4426.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,5.0,2008.0,1.0,1.0,149300.0,37.0
1443,30.0,1.0,8854.0,1.0,1.0,1.0,1.0,1.0,1.0,9.0,...,0.0,40.0,0.0,0.0,5.0,2009.0,1.0,1.0,121000.0,63.0
1446,20.0,1.0,26142.0,1.0,2.0,1.0,1.0,4.0,1.0,5.0,...,0.0,0.0,0.0,0.0,4.0,2010.0,1.0,1.0,157900.0,63.0

In [718]:
df_copy[column] = df_impute_[61]

In [719]:
df_copy[column].unique()

array([ 65.,  80.,  68.,  60.,  84.,  85.,  75.,  86.,  51.,  50.,  70.,
        69.,  91.,  78.,  54.,  72.,  66., 101.,  57.,  44., 110.,  98.,
        47., 108., 112.,  74., 115.,  61.,  48.,  33.,  52., 100.,  24.,
        89.,  63.,  81.,  76., 111.,  95.,  21.,  32.,  73., 121., 122.,
        40., 105.,  77.,  64.,  94.,  34.,  90.,  55.,  88.,  82.,  71.,
       120., 107.,  92., 134.,  62.,  87., 118., 141.,  97.,  41.,  79.,
       174.,  37.,  99.,  67.,  83.,  43., 102., 103.,  59.,  93.,  30.,
       129., 140.,  35., 106., 116., 150.,  49.,  96.,  36.,  56.,  58.,
        38., 109., 130.,  53., 137., 113.,  45., 139.,  46., 104.,  42.,
        39., 144., 114., 142., 128., 149., 313.,  28., 168., 182., 138.,
       160., 152., 132., 124., 153., 125.])

## Impute `Electrical`

In [720]:
column = 'Electrical'

In [721]:
data_ = no_missingdata
data_

['MSSubClass',
 'MSZoning',
 'LotArea',
 'Street',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'OverallQual',
 'OverallCond',
 'YearBuilt',
 'YearRemodAdd',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtFinSF1',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 'Heating',
 'HeatingQC',
 'CentralAir',
 '1stFlrSF',
 '2ndFlrSF',
 'LowQualFinSF',
 'GrLivArea',
 'BsmtFullBath',
 'BsmtHalfBath',
 'FullBath',
 'HalfBath',
 'BedroomAbvGr',
 'KitchenAbvGr',
 'KitchenQual',
 'TotRmsAbvGrd',
 'Functional',
 'Fireplaces',
 'GarageCars',
 'GarageArea',
 'PavedDrive',
 'WoodDeckSF',
 'OpenPorchSF',
 'EnclosedPorch',
 '3SsnPorch',
 'ScreenPorch',
 'PoolArea',
 'MiscVal',
 'MoSold',
 'YrSold',
 'SaleType',
 'SaleCondition',
 'SalePrice',
 'LotFrontage']

In [722]:
data_.remove('LotFrontage')

In [723]:
data_.append(column)

In [724]:
data_

['MSSubClass',
 'MSZoning',
 'LotArea',
 'Street',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'OverallQual',
 'OverallCond',
 'YearBuilt',
 'YearRemodAdd',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtFinSF1',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 'Heating',
 'HeatingQC',
 'CentralAir',
 '1stFlrSF',
 '2ndFlrSF',
 'LowQualFinSF',
 'GrLivArea',
 'BsmtFullBath',
 'BsmtHalfBath',
 'FullBath',
 'HalfBath',
 'BedroomAbvGr',
 'KitchenAbvGr',
 'KitchenQual',
 'TotRmsAbvGrd',
 'Functional',
 'Fireplaces',
 'GarageCars',
 'GarageArea',
 'PavedDrive',
 'WoodDeckSF',
 'OpenPorchSF',
 'EnclosedPorch',
 '3SsnPorch',
 'ScreenPorch',
 'PoolArea',
 'MiscVal',
 'MoSold',
 'YrSold',
 'SaleType',
 'SaleCondition',
 'SalePrice',
 'Electrical']

In [725]:
index_na = pd.isnull(df_copy[data_]).any(1).nonzero()[0].tolist()
index_na

[1379]

Porcentaje de NaN

In [726]:
(len(index_na)/df_copy.shape[0])*100

0.0684931506849315

In [727]:
df_data_ = df_copy[data_]
df_data_.head()

,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,Electrical
0,60,1,8450,1,1,1,1,1,1,1,...,0,0,0,0,2,2008,1,1,208500,1.0
1,20,1,9600,1,1,1,1,2,1,2,...,0,0,0,0,5,2007,1,1,181500,1.0
2,60,1,11250,1,2,1,1,1,1,1,...,0,0,0,0,9,2008,1,1,223500,1.0
3,70,1,9550,1,2,1,1,3,1,3,...,0,0,0,0,2,2006,1,2,140000,1.0
4,60,1,14260,1,2,1,1,2,1,4,...,0,0,0,0,12,2008,1,1,250000,1.0

In [728]:
df_data_[column].unique()

array([ 1.,  2.,  3.,  4.,  5., nan])

In [729]:
impute_ = iterforest.IterImput().complete(df_data_.as_matrix())

/Users/jacoboleon/.pyenv/versions/anaconda3-5.1.0/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [730]:
impute_

array([[6.00000e+01, 1.00000e+00, 8.45000e+03, ..., 1.00000e+00,
        2.08500e+05, 1.00000e+00],
       [2.00000e+01, 1.00000e+00, 9.60000e+03, ..., 1.00000e+00,
        1.81500e+05, 1.00000e+00],
       [6.00000e+01, 1.00000e+00, 1.12500e+04, ..., 1.00000e+00,
        2.23500e+05, 1.00000e+00],
       ...,
       [7.00000e+01, 1.00000e+00, 9.04200e+03, ..., 1.00000e+00,
        2.66500e+05, 1.00000e+00],
       [2.00000e+01, 1.00000e+00, 9.71700e+03, ..., 1.00000e+00,
        1.42125e+05, 3.00000e+00],
       [2.00000e+01, 1.00000e+00, 9.93700e+03, ..., 1.00000e+00,
        1.47500e+05, 1.00000e+00]])

In [731]:
df_impute_ = pd.DataFrame(impute_)
df_impute_.head()

,0,1,2,3,4,5,6,7,8,9,...,52,53,54,55,56,57,58,59,60,61
0,60.0,1.0,8450.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,2.0,2008.0,1.0,1.0,208500.0,1.0
1,20.0,1.0,9600.0,1.0,1.0,1.0,1.0,2.0,1.0,2.0,...,0.0,0.0,0.0,0.0,5.0,2007.0,1.0,1.0,181500.0,1.0
2,60.0,1.0,11250.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,9.0,2008.0,1.0,1.0,223500.0,1.0
3,70.0,1.0,9550.0,1.0,2.0,1.0,1.0,3.0,1.0,3.0,...,0.0,0.0,0.0,0.0,2.0,2006.0,1.0,2.0,140000.0,1.0
4,60.0,1.0,14260.0,1.0,2.0,1.0,1.0,2.0,1.0,4.0,...,0.0,0.0,0.0,0.0,12.0,2008.0,1.0,1.0,250000.0,1.0

In [732]:
df_impute_.shape

(1460, 62)

In [733]:
df_impute_.isnull().any().any()

False

In [734]:
df_impute_ = round(df_impute_)

In [735]:
df_impute_.loc[index_na]

,0,1,2,3,4,5,6,7,8,9,...,52,53,54,55,56,57,58,59,60,61
1379,80.0,1.0,9735.0,1.0,1.0,1.0,1.0,1.0,1.0,17.0,...,0.0,0.0,0.0,0.0,5.0,2008.0,1.0,1.0,167500.0,1.0

In [736]:
df_copy[column] = df_impute_[61]

In [737]:
df_copy[column].unique()

array([1., 2., 3., 4., 5.])

## MasVnrType -> MasVnrArea

## Categorize `MasVnrType`

In [738]:
column = 'MasVnrType'

In [739]:
df_copy[column].unique()

array([ 1.,  2.,  3.,  4., nan])

In [740]:
df_copy[column].fillna(value=5, inplace=True)

In [741]:
df_copy[column].unique()

array([1., 2., 3., 4., 5.])

## Categorize `MasVnrArea`

In [742]:
column = 'MasVnrArea'

In [743]:
df_copy[column].unique()

array([1.960e+02, 0.000e+00, 1.620e+02, 3.500e+02, 1.860e+02, 2.400e+02,
       2.860e+02, 3.060e+02, 2.120e+02, 1.800e+02, 3.800e+02, 2.810e+02,
       6.400e+02, 2.000e+02, 2.460e+02, 1.320e+02, 6.500e+02, 1.010e+02,
       4.120e+02, 2.720e+02, 4.560e+02, 1.031e+03, 1.780e+02, 5.730e+02,
       3.440e+02, 2.870e+02, 1.670e+02, 1.115e+03, 4.000e+01, 1.040e+02,
       5.760e+02, 4.430e+02, 4.680e+02, 6.600e+01, 2.200e+01, 2.840e+02,
       7.600e+01, 2.030e+02, 6.800e+01, 1.830e+02, 4.800e+01, 2.800e+01,
       3.360e+02, 6.000e+02, 7.680e+02, 4.800e+02, 2.200e+02, 1.840e+02,
       1.129e+03, 1.160e+02, 1.350e+02, 2.660e+02, 8.500e+01, 3.090e+02,
       1.360e+02, 2.880e+02, 7.000e+01, 3.200e+02, 5.000e+01, 1.200e+02,
       4.360e+02, 2.520e+02, 8.400e+01, 6.640e+02, 2.260e+02, 3.000e+02,
       6.530e+02, 1.120e+02, 4.910e+02, 2.680e+02, 7.480e+02, 9.800e+01,
       2.750e+02, 1.380e+02, 2.050e+02, 2.620e+02, 1.280e+02, 2.600e+02,
       1.530e+02, 6.400e+01, 3.120e+02, 1.600e+01, 9.220e+02, 1.420e+02,
       2.900e+02, 1.270e+02, 5.060e+02, 2.970e+02,       nan, 6.040e+02,
       2.540e+02, 3.600e+01, 1.020e+02, 4.720e+02, 4.810e+02, 1.080e+02,
       3.020e+02, 1.720e+02, 3.990e+02, 2.700e+02, 4.600e+01, 2.100e+02,
       1.740e+02, 3.480e+02, 3.150e+02, 2.990e+02, 3.400e+02, 1.660e+02,
       7.200e+01, 3.100e+01, 3.400e+01, 2.380e+02, 1.600e+03, 3.650e+02,
       5.600e+01, 1.500e+02, 2.780e+02, 2.560e+02, 2.250e+02, 3.700e+02,
       3.880e+02, 1.750e+02, 2.960e+02, 1.460e+02, 1.130e+02, 1.760e+02,
       6.160e+02, 3.000e+01, 1.060e+02, 8.700e+02, 3.620e+02, 5.300e+02,
       5.000e+02, 5.100e+02, 2.470e+02, 3.050e+02, 2.550e+02, 1.250e+02,
       1.000e+02, 4.320e+02, 1.260e+02, 4.730e+02, 7.400e+01, 1.450e+02,
       2.320e+02, 3.760e+02, 4.200e+01, 1.610e+02, 1.100e+02, 1.800e+01,
       2.240e+02, 2.480e+02, 8.000e+01, 3.040e+02, 2.150e+02, 7.720e+02,
       4.350e+02, 3.780e+02, 5.620e+02, 1.680e+02, 8.900e+01, 2.850e+02,
       3.600e+02, 9.400e+01, 3.330e+02, 9.210e+02, 7.620e+02, 5.940e+02,
       2.190e+02, 1.880e+02, 4.790e+02, 5.840e+02, 1.820e+02, 2.500e+02,
       2.920e+02, 2.450e+02, 2.070e+02, 8.200e+01, 9.700e+01, 3.350e+02,
       2.080e+02, 4.200e+02, 1.700e+02, 4.590e+02, 2.800e+02, 9.900e+01,
       1.920e+02, 2.040e+02, 2.330e+02, 1.560e+02, 4.520e+02, 5.130e+02,
       2.610e+02, 1.640e+02, 2.590e+02, 2.090e+02, 2.630e+02, 2.160e+02,
       3.510e+02, 6.600e+02, 3.810e+02, 5.400e+01, 5.280e+02, 2.580e+02,
       4.640e+02, 5.700e+01, 1.470e+02, 1.170e+03, 2.930e+02, 6.300e+02,
       4.660e+02, 1.090e+02, 4.100e+01, 1.600e+02, 2.890e+02, 6.510e+02,
       1.690e+02, 9.500e+01, 4.420e+02, 2.020e+02, 3.380e+02, 8.940e+02,
       3.280e+02, 6.730e+02, 6.030e+02, 1.000e+00, 3.750e+02, 9.000e+01,
       3.800e+01, 1.570e+02, 1.100e+01, 1.400e+02, 1.300e+02, 1.480e+02,
       8.600e+02, 4.240e+02, 1.047e+03, 2.430e+02, 8.160e+02, 3.870e+02,
       2.230e+02, 1.580e+02, 1.370e+02, 1.150e+02, 1.890e+02, 2.740e+02,
       1.170e+02, 6.000e+01, 1.220e+02, 9.200e+01, 4.150e+02, 7.600e+02,
       2.700e+01, 7.500e+01, 3.610e+02, 1.050e+02, 3.420e+02, 2.980e+02,
       5.410e+02, 2.360e+02, 1.440e+02, 4.230e+02, 4.400e+01, 1.510e+02,
       9.750e+02, 4.500e+02, 2.300e+02, 5.710e+02, 2.400e+01, 5.300e+01,
       2.060e+02, 1.400e+01, 3.240e+02, 2.950e+02, 3.960e+02, 6.700e+01,
       1.540e+02, 4.250e+02, 4.500e+01, 1.378e+03, 3.370e+02, 1.490e+02,
       1.430e+02, 5.100e+01, 1.710e+02, 2.340e+02, 6.300e+01, 7.660e+02,
       3.200e+01, 8.100e+01, 1.630e+02, 5.540e+02, 2.180e+02, 6.320e+02,
       1.140e+02, 5.670e+02, 3.590e+02, 4.510e+02, 6.210e+02, 7.880e+02,
       8.600e+01, 7.960e+02, 3.910e+02, 2.280e+02, 8.800e+01, 1.650e+02,
       4.280e+02, 4.100e+02, 5.640e+02, 3.680e+02, 3.180e+02, 5.790e+02,
       6.500e+01, 7.050e+02, 4.080e+02, 2.440e+02, 1.230e+02, 3.660e+02,
       7.310e+02, 4.480e+02, 2.940e+02, 3.100e+02, 2.370e+02, 4.260e+02,
       9.600e+01, 4.380e+02, 1.940e+02, 1.190e+02])

In [744]:
df_copy[column].fillna(value=0, inplace=True)

In [745]:
df_copy[column].unique()

array([1.960e+02, 0.000e+00, 1.620e+02, 3.500e+02, 1.860e+02, 2.400e+02,
       2.860e+02, 3.060e+02, 2.120e+02, 1.800e+02, 3.800e+02, 2.810e+02,
       6.400e+02, 2.000e+02, 2.460e+02, 1.320e+02, 6.500e+02, 1.010e+02,
       4.120e+02, 2.720e+02, 4.560e+02, 1.031e+03, 1.780e+02, 5.730e+02,
       3.440e+02, 2.870e+02, 1.670e+02, 1.115e+03, 4.000e+01, 1.040e+02,
       5.760e+02, 4.430e+02, 4.680e+02, 6.600e+01, 2.200e+01, 2.840e+02,
       7.600e+01, 2.030e+02, 6.800e+01, 1.830e+02, 4.800e+01, 2.800e+01,
       3.360e+02, 6.000e+02, 7.680e+02, 4.800e+02, 2.200e+02, 1.840e+02,
       1.129e+03, 1.160e+02, 1.350e+02, 2.660e+02, 8.500e+01, 3.090e+02,
       1.360e+02, 2.880e+02, 7.000e+01, 3.200e+02, 5.000e+01, 1.200e+02,
       4.360e+02, 2.520e+02, 8.400e+01, 6.640e+02, 2.260e+02, 3.000e+02,
       6.530e+02, 1.120e+02, 4.910e+02, 2.680e+02, 7.480e+02, 9.800e+01,
       2.750e+02, 1.380e+02, 2.050e+02, 2.620e+02, 1.280e+02, 2.600e+02,
       1.530e+02, 6.400e+01, 3.120e+02, 1.600e+01, 9.220e+02, 1.420e+02,
       2.900e+02, 1.270e+02, 5.060e+02, 2.970e+02, 6.040e+02, 2.540e+02,
       3.600e+01, 1.020e+02, 4.720e+02, 4.810e+02, 1.080e+02, 3.020e+02,
       1.720e+02, 3.990e+02, 2.700e+02, 4.600e+01, 2.100e+02, 1.740e+02,
       3.480e+02, 3.150e+02, 2.990e+02, 3.400e+02, 1.660e+02, 7.200e+01,
       3.100e+01, 3.400e+01, 2.380e+02, 1.600e+03, 3.650e+02, 5.600e+01,
       1.500e+02, 2.780e+02, 2.560e+02, 2.250e+02, 3.700e+02, 3.880e+02,
       1.750e+02, 2.960e+02, 1.460e+02, 1.130e+02, 1.760e+02, 6.160e+02,
       3.000e+01, 1.060e+02, 8.700e+02, 3.620e+02, 5.300e+02, 5.000e+02,
       5.100e+02, 2.470e+02, 3.050e+02, 2.550e+02, 1.250e+02, 1.000e+02,
       4.320e+02, 1.260e+02, 4.730e+02, 7.400e+01, 1.450e+02, 2.320e+02,
       3.760e+02, 4.200e+01, 1.610e+02, 1.100e+02, 1.800e+01, 2.240e+02,
       2.480e+02, 8.000e+01, 3.040e+02, 2.150e+02, 7.720e+02, 4.350e+02,
       3.780e+02, 5.620e+02, 1.680e+02, 8.900e+01, 2.850e+02, 3.600e+02,
       9.400e+01, 3.330e+02, 9.210e+02, 7.620e+02, 5.940e+02, 2.190e+02,
       1.880e+02, 4.790e+02, 5.840e+02, 1.820e+02, 2.500e+02, 2.920e+02,
       2.450e+02, 2.070e+02, 8.200e+01, 9.700e+01, 3.350e+02, 2.080e+02,
       4.200e+02, 1.700e+02, 4.590e+02, 2.800e+02, 9.900e+01, 1.920e+02,
       2.040e+02, 2.330e+02, 1.560e+02, 4.520e+02, 5.130e+02, 2.610e+02,
       1.640e+02, 2.590e+02, 2.090e+02, 2.630e+02, 2.160e+02, 3.510e+02,
       6.600e+02, 3.810e+02, 5.400e+01, 5.280e+02, 2.580e+02, 4.640e+02,
       5.700e+01, 1.470e+02, 1.170e+03, 2.930e+02, 6.300e+02, 4.660e+02,
       1.090e+02, 4.100e+01, 1.600e+02, 2.890e+02, 6.510e+02, 1.690e+02,
       9.500e+01, 4.420e+02, 2.020e+02, 3.380e+02, 8.940e+02, 3.280e+02,
       6.730e+02, 6.030e+02, 1.000e+00, 3.750e+02, 9.000e+01, 3.800e+01,
       1.570e+02, 1.100e+01, 1.400e+02, 1.300e+02, 1.480e+02, 8.600e+02,
       4.240e+02, 1.047e+03, 2.430e+02, 8.160e+02, 3.870e+02, 2.230e+02,
       1.580e+02, 1.370e+02, 1.150e+02, 1.890e+02, 2.740e+02, 1.170e+02,
       6.000e+01, 1.220e+02, 9.200e+01, 4.150e+02, 7.600e+02, 2.700e+01,
       7.500e+01, 3.610e+02, 1.050e+02, 3.420e+02, 2.980e+02, 5.410e+02,
       2.360e+02, 1.440e+02, 4.230e+02, 4.400e+01, 1.510e+02, 9.750e+02,
       4.500e+02, 2.300e+02, 5.710e+02, 2.400e+01, 5.300e+01, 2.060e+02,
       1.400e+01, 3.240e+02, 2.950e+02, 3.960e+02, 6.700e+01, 1.540e+02,
       4.250e+02, 4.500e+01, 1.378e+03, 3.370e+02, 1.490e+02, 1.430e+02,
       5.100e+01, 1.710e+02, 2.340e+02, 6.300e+01, 7.660e+02, 3.200e+01,
       8.100e+01, 1.630e+02, 5.540e+02, 2.180e+02, 6.320e+02, 1.140e+02,
       5.670e+02, 3.590e+02, 4.510e+02, 6.210e+02, 7.880e+02, 8.600e+01,
       7.960e+02, 3.910e+02, 2.280e+02, 8.800e+01, 1.650e+02, 4.280e+02,
       4.100e+02, 5.640e+02, 3.680e+02, 3.180e+02, 5.790e+02, 6.500e+01,
       7.050e+02, 4.080e+02, 2.440e+02, 1.230e+02, 3.660e+02, 7.310e+02,
       4.480e+02, 2.940e+02, 3.100e+02, 2.370e+02, 4.260e+02, 9.600e+01,
       4.380e+02, 1.940e+02, 1.190e+02])

## BsmtQual -> BsmtCond -> BsmtExposure -> BsmtFinType1 -> BsmtFinType2

## Categorize `BsmtQual`

* 5 ->`NA`: No Basement

In [746]:
column = 'BsmtQual'

In [747]:
df_copy[column].unique()

array([ 1.,  2.,  3., nan,  4.])

In [748]:
df_copy[column].fillna(value=5, inplace=True)

In [749]:
df_copy[column].unique()

array([1., 2., 3., 5., 4.])

## Categorize `BsmtCond`

* 5 ->`NA`: No Basement

In [750]:
column = 'BsmtCond'

In [751]:
df_copy[column].unique()

array([ 1.,  2., nan,  3.,  4.])

In [752]:
df_copy[column].fillna(value=5, inplace=True)

In [753]:
df_copy[column].unique()

array([1., 2., 5., 3., 4.])

## Categorize `BsmtExposure`

* 5 ->`NA`: No Basement

In [754]:
column = 'BsmtExposure'

In [755]:
df_copy[column].unique()

array([ 1.,  2.,  3.,  4., nan])

In [756]:
df_copy[column].fillna(value=5, inplace=True)

In [757]:
df_copy[column].unique()

array([1., 2., 3., 4., 5.])

## Categorize `BsmtFinType1`

* 7 ->`NA`: No Basement

In [758]:
column = 'BsmtFinType1'

In [759]:
df_copy[column].unique()

array([ 1.,  2.,  3.,  4.,  5., nan,  6.])

In [760]:
df_copy[column].fillna(value=7, inplace=True)

In [761]:
df_copy[column].unique()

array([1., 2., 3., 4., 5., 7., 6.])

## Categorize `BsmtFinType2`

* 7->`NA`: No Basement

In [762]:
column = 'BsmtFinType2'

In [763]:
df_copy[column].unique()

array([ 1.,  2., nan,  3.,  4.,  5.,  6.])

In [764]:
df_copy[column].fillna(value=7, inplace=True)

In [765]:
df_copy[column].unique()

array([1., 2., 7., 3., 4., 5., 6.])

## `GarageType` -> `GarageYrBlt` -> `GarageFinish` -> `GarageQual` -> `GarageCond`

## Categorize `GarageType`

* 7->`NA`: No Garage

In [766]:
column = 'GarageType'

In [767]:
df_copy[column].unique()

array([ 1.,  2.,  3.,  4., nan,  5.,  6.])

In [768]:
df_copy[column].fillna(value=7, inplace=True)

In [769]:
df_copy[column].unique()

array([1., 2., 3., 4., 7., 5., 6.])

## Categorize `GarageYrBlt`

* 98->`NA`: No Garage

In [770]:
column = 'GarageYrBlt'

In [771]:
df_copy[column].unique()

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13.,
       14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25., 26.,
       27., 28., 29., 30., 31., nan, 32., 33., 34., 35., 36., 37., 38.,
       39., 40., 41., 42., 43., 44., 45., 46., 47., 48., 49., 50., 51.,
       52., 53., 54., 55., 56., 57., 58., 59., 60., 61., 62., 63., 64.,
       65., 66., 67., 68., 69., 70., 71., 72., 73., 74., 75., 76., 77.,
       78., 79., 80., 81., 82., 83., 84., 85., 86., 87., 88., 89., 90.,
       91., 92., 93., 94., 95., 96., 97.])

In [772]:
df_copy[column].fillna(value=98, inplace=True)

In [773]:
df_copy[column].unique()

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13.,
       14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25., 26.,
       27., 28., 29., 30., 31., 98., 32., 33., 34., 35., 36., 37., 38.,
       39., 40., 41., 42., 43., 44., 45., 46., 47., 48., 49., 50., 51.,
       52., 53., 54., 55., 56., 57., 58., 59., 60., 61., 62., 63., 64.,
       65., 66., 67., 68., 69., 70., 71., 72., 73., 74., 75., 76., 77.,
       78., 79., 80., 81., 82., 83., 84., 85., 86., 87., 88., 89., 90.,
       91., 92., 93., 94., 95., 96., 97.])

## Categorize `GarageFinish`

* 4->`NA`: No Garage

In [774]:
column = 'GarageFinish'

In [775]:
df_copy[column].unique()

array([ 1.,  2.,  3., nan])

In [776]:
df_copy[column].fillna(value=4, inplace=True)

In [777]:
df_copy[column].unique()

array([1., 2., 3., 4.])

## Categorize `GarageQual`

* 6->`NA`: No Garage

In [778]:
column = 'GarageQual'

In [779]:
df_copy[column].unique()

array([ 1.,  2.,  3., nan,  4.,  5.])

In [780]:
df_copy[column].fillna(value=6, inplace=True)

In [781]:
df_copy[column].unique()

array([1., 2., 3., 6., 4., 5.])

## Categorize `GarageCond`

* 6->`NA`: No Garage

In [782]:
column = 'GarageCond'

In [783]:
df_copy[column].unique()

array([ 1.,  2., nan,  3.,  4.,  5.])

In [784]:
df_copy[column].fillna(value=6, inplace=True)

In [785]:
df_copy[column].unique()

array([1., 2., 6., 3., 4., 5.])

In [786]:
df_copy.columns[df_copy.isnull().any()].tolist()

[]

In [787]:
df_copy.to_csv('train_impute.csv')