In [1]:
import pandas as pd

In [2]:
file = 'train_impute.csv'
df = pd.read_csv(file)
df.head()

,Unnamed: 0,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0,60,1,65.0,8450,1,1,1,1,1,...,0,0,0,0,0,2,2008,1,1,208500
1,1,20,1,80.0,9600,1,1,1,1,2,...,0,0,0,0,0,5,2007,1,1,181500
2,2,60,1,68.0,11250,1,2,1,1,1,...,0,0,0,0,0,9,2008,1,1,223500
3,3,70,1,60.0,9550,1,2,1,1,3,...,272,0,0,0,0,2,2006,1,2,140000
4,4,60,1,84.0,14260,1,2,1,1,2,...,0,0,0,0,0,12,2008,1,1,250000

[Which machine learning algorithms are appropriate for numerical, categorical or both values?](https://www.quora.com/Which-machine-learning-algorithms-are-appropriate-for-numerical-categorical-or-both-values)

## Decision trees

## Naïve Bayes

##  KNN

##  Random Forest