In [35]:
import pandas as pd
import numpy as np

In [36]:
file = 'train.csv'
df = pd.read_csv(file)
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
Id               1460 non-null int64
MSSubClass       1460 non-null int64
MSZoning         1460 non-null object
LotFrontage      1201 non-null float64
LotArea          1460 non-null int64
Street           1460 non-null object
Alley            91 non-null object
LotShape         1460 non-null object
LandContour      1460 non-null object
Utilities        1460 non-null object
LotConfig        1460 non-null object
LandSlope        1460 non-null object
Neighborhood     1460 non-null object
Condition1       1460 non-null object
Condition2       1460 non-null object
BldgType         1460 non-null object
HouseStyle       1460 non-null object
OverallQual      1460 non-null int64
OverallCond      1460 non-null int64
YearBuilt        1460 non-null int64
YearRemodAdd     1460 non-null int64
RoofStyle        1460 non-null object
RoofMatl         1460 non-null object
Exterior1st      1460 non-null object
Exterior2nd      1460 non-null object
MasVnrType       1452 non-null object
MasVnrArea       1452 non-null float64
ExterQual        1460 non-null object
ExterCond        1460 non-null object
Foundation       1460 non-null object
BsmtQual         1423 non-null object
BsmtCond         1423 non-null object
BsmtExposure     1422 non-null object
BsmtFinType1     1423 non-null object
BsmtFinSF1       1460 non-null int64
BsmtFinType2     1422 non-null object
BsmtFinSF2       1460 non-null int64
BsmtUnfSF        1460 non-null int64
TotalBsmtSF      1460 non-null int64
Heating          1460 non-null object
HeatingQC        1460 non-null object
CentralAir       1460 non-null object
Electrical       1459 non-null object
1stFlrSF         1460 non-null int64
2ndFlrSF         1460 non-null int64
LowQualFinSF     1460 non-null int64
GrLivArea        1460 non-null int64
BsmtFullBath     1460 non-null int64
BsmtHalfBath     1460 non-null int64
FullBath         1460 non-null int64
HalfBath         1460 non-null int64
BedroomAbvGr     1460 non-null int64
KitchenAbvGr     1460 non-null int64
KitchenQual      1460 non-null object
TotRmsAbvGrd     1460 non-null int64
Functional       1460 non-null object
Fireplaces       1460 non-null int64
FireplaceQu      770 non-null object
GarageType       1379 non-null object
GarageYrBlt      1379 non-null float64
GarageFinish     1379 non-null object
GarageCars       1460 non-null int64
GarageArea       1460 non-null int64
GarageQual       1379 non-null object
GarageCond       1379 non-null object
PavedDrive       1460 non-null object
WoodDeckSF       1460 non-null int64
OpenPorchSF      1460 non-null int64
EnclosedPorch    1460 non-null int64
3SsnPorch        1460 non-null int64
ScreenPorch      1460 non-null int64
PoolArea         1460 non-null int64
PoolQC           7 non-null object
Fence            281 non-null object
MiscFeature      54 non-null object
MiscVal          1460 non-null int64
MoSold           1460 non-null int64
YrSold           1460 non-null int64
SaleType         1460 non-null object
SaleCondition    1460 non-null object
SalePrice        1460 non-null int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [38]:
df_copy = df.copy()

## Diccionario `dict_MSZoning`

In [39]:
column = 'MSZoning'

In [40]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

         0
0       RL
1       RM
2  C (all)
3       FV
4       RH

In [41]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [42]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [43]:
grouped.shape

(5, 2)

In [44]:
grouped['index'] += 1
grouped

   index      Key
0      1       RL
1      2       RM
2      3  C (all)
3      4       FV
4      5       RH

In [45]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [46]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'RL'], [2, 'RM'], [3, 'C (all)'], [4, 'FV'], [5, 'RH']]}

In [47]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'RL': 1, 'RM': 2, 'C (all)': 3, 'FV': 4, 'RH': 5}

In [48]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([1, 2, 3, 4, 5])

## Diccionario `Street`

In [49]:
column = 'Street'

In [50]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

      0
0  Pave
1  Grvl

In [51]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [52]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [53]:
grouped.shape

(2, 2)

In [54]:
grouped['index'] += 1
grouped

   index   Key
0      1  Pave
1      2  Grvl

In [55]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [56]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'Pave'], [2, 'Grvl']]}

In [57]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'Pave': 1, 'Grvl': 2}

In [58]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([1, 2])

## Diccionario `LotShape`

In [59]:
column = 'LotShape'

In [60]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

     0
0  Reg
1  IR1
2  IR2
3  IR3

In [61]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [62]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [63]:
grouped.shape

(4, 2)

In [64]:
grouped['index'] += 1
grouped

   index  Key
0      1  Reg
1      2  IR1
2      3  IR2
3      4  IR3

In [65]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [66]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'Reg'], [2, 'IR1'], [3, 'IR2'], [4, 'IR3']]}

In [67]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'Reg': 1, 'IR1': 2, 'IR2': 3, 'IR3': 4}

In [68]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([1, 2, 3, 4])

## Diccionario `LandContour`

In [69]:
column = 'LandContour'

In [70]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

     0
0  Lvl
1  Bnk
2  Low
3  HLS

In [71]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [72]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [73]:
grouped.shape

(4, 2)

In [74]:
grouped['index'] += 1
grouped

   index  Key
0      1  Lvl
1      2  Bnk
2      3  Low
3      4  HLS

In [75]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [76]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'Lvl'], [2, 'Bnk'], [3, 'Low'], [4, 'HLS']]}

In [77]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'Lvl': 1, 'Bnk': 2, 'Low': 3, 'HLS': 4}

In [78]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([1, 2, 3, 4])

## Diccionario `Utilities`

In [79]:
column = 'Utilities'

In [80]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

        0
0  AllPub
1  NoSeWa

In [81]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [82]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [83]:
grouped.shape

(2, 2)

In [84]:
grouped['index'] += 1
grouped

   index     Key
0      1  AllPub
1      2  NoSeWa

In [85]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [86]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'AllPub'], [2, 'NoSeWa']]}

In [87]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'AllPub': 1, 'NoSeWa': 2}

In [88]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([1, 2])

## Diccionario `LotConfig`

In [89]:
column = 'LotConfig'

In [90]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

         0
0   Inside
1      FR2
2   Corner
3  CulDSac
4      FR3

In [91]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [92]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [93]:
grouped.shape

(5, 2)

In [94]:
grouped['index'] += 1
grouped

   index      Key
0      1   Inside
1      2      FR2
2      3   Corner
3      4  CulDSac
4      5      FR3

In [95]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [96]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'Inside'],
  [2, 'FR2'],
  [3, 'Corner'],
  [4, 'CulDSac'],
  [5, 'FR3']]}

In [97]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'Inside': 1, 'FR2': 2, 'Corner': 3, 'CulDSac': 4, 'FR3': 5}

In [98]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([1, 2, 3, 4, 5])

## Diccionario `LandSlope`

In [99]:
column = 'LandSlope'

In [100]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

     0
0  Gtl
1  Mod
2  Sev

In [101]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [102]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [103]:
grouped.shape

(3, 2)

In [104]:
grouped['index'] += 1
grouped

   index  Key
0      1  Gtl
1      2  Mod
2      3  Sev

In [105]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [106]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'Gtl'], [2, 'Mod'], [3, 'Sev']]}

In [107]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'Gtl': 1, 'Mod': 2, 'Sev': 3}

In [108]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([1, 2, 3])

## Diccionario `Neighborhood`

In [109]:
column = 'Neighborhood'

In [110]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

         0
0  CollgCr
1  Veenker
2  Crawfor
3  NoRidge
4  Mitchel

In [111]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [112]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [113]:
grouped.shape

(25, 2)

In [114]:
grouped['index'] += 1
grouped

    index      Key
0       1  CollgCr
1       2  Veenker
2       3  Crawfor
3       4  NoRidge
4       5  Mitchel
5       6  Somerst
6       7   NWAmes
7       8  OldTown
8       9  BrkSide
9      10   Sawyer
10     11  NridgHt
11     12    NAmes
12     13  SawyerW
13     14   IDOTRR
14     15  MeadowV
15     16  Edwards
16     17   Timber
17     18  Gilbert
18     19  StoneBr
19     20  ClearCr
20     21  NPkVill
21     22  Blmngtn
22     23   BrDale
23     24    SWISU
24     25  Blueste

In [115]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [116]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'CollgCr'],
  [2, 'Veenker'],
  [3, 'Crawfor'],
  [4, 'NoRidge'],
  [5, 'Mitchel'],
  [6, 'Somerst'],
  [7, 'NWAmes'],
  [8, 'OldTown'],
  [9, 'BrkSide'],
  [10, 'Sawyer'],
  [11, 'NridgHt'],
  [12, 'NAmes'],
  [13, 'SawyerW'],
  [14, 'IDOTRR'],
  [15, 'MeadowV'],
  [16, 'Edwards'],
  [17, 'Timber'],
  [18, 'Gilbert'],
  [19, 'StoneBr'],
  [20, 'ClearCr'],
  [21, 'NPkVill'],
  [22, 'Blmngtn'],
  [23, 'BrDale'],
  [24, 'SWISU'],
  [25, 'Blueste']]}

In [117]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'CollgCr': 1,
 'Veenker': 2,
 'Crawfor': 3,
 'NoRidge': 4,
 'Mitchel': 5,
 'Somerst': 6,
 'NWAmes': 7,
 'OldTown': 8,
 'BrkSide': 9,
 'Sawyer': 10,
 'NridgHt': 11,
 'NAmes': 12,
 'SawyerW': 13,
 'IDOTRR': 14,
 'MeadowV': 15,
 'Edwards': 16,
 'Timber': 17,
 'Gilbert': 18,
 'StoneBr': 19,
 'ClearCr': 20,
 'NPkVill': 21,
 'Blmngtn': 22,
 'BrDale': 23,
 'SWISU': 24,
 'Blueste': 25}

In [118]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25])

## Diccionario `Condition1`

In [119]:
column = 'Condition1'

In [120]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

        0
0    Norm
1   Feedr
2    PosN
3  Artery
4    RRAe

In [121]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [122]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [123]:
grouped.shape

(9, 2)

In [124]:
grouped['index'] += 1
grouped

   index     Key
0      1    Norm
1      2   Feedr
2      3    PosN
3      4  Artery
4      5    RRAe
5      6    RRNn
6      7    RRAn
7      8    PosA
8      9    RRNe

In [125]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [126]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'Norm'],
  [2, 'Feedr'],
  [3, 'PosN'],
  [4, 'Artery'],
  [5, 'RRAe'],
  [6, 'RRNn'],
  [7, 'RRAn'],
  [8, 'PosA'],
  [9, 'RRNe']]}

In [127]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'Norm': 1,
 'Feedr': 2,
 'PosN': 3,
 'Artery': 4,
 'RRAe': 5,
 'RRNn': 6,
 'RRAn': 7,
 'PosA': 8,
 'RRNe': 9}

In [128]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

## Diccionario `Condition2`

In [129]:
column = 'Condition2'

In [130]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

        0
0    Norm
1  Artery
2    RRNn
3   Feedr
4    PosN

In [131]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [132]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [133]:
grouped.shape

(8, 2)

In [134]:
grouped['index'] += 1
grouped

   index     Key
0      1    Norm
1      2  Artery
2      3    RRNn
3      4   Feedr
4      5    PosN
5      6    PosA
6      7    RRAn
7      8    RRAe

In [135]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [136]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'Norm'],
  [2, 'Artery'],
  [3, 'RRNn'],
  [4, 'Feedr'],
  [5, 'PosN'],
  [6, 'PosA'],
  [7, 'RRAn'],
  [8, 'RRAe']]}

In [137]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'Norm': 1,
 'Artery': 2,
 'RRNn': 3,
 'Feedr': 4,
 'PosN': 5,
 'PosA': 6,
 'RRAn': 7,
 'RRAe': 8}

In [138]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([1, 2, 3, 4, 5, 6, 7, 8])

## Diccionario `BldgType`

In [139]:
column = 'BldgType'

In [140]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

        0
0    1Fam
1  2fmCon
2  Duplex
3  TwnhsE
4   Twnhs

In [141]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [142]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [143]:
grouped.shape

(5, 2)

In [144]:
grouped['index'] += 1
grouped

   index     Key
0      1    1Fam
1      2  2fmCon
2      3  Duplex
3      4  TwnhsE
4      5   Twnhs

In [145]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [146]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, '1Fam'],
  [2, '2fmCon'],
  [3, 'Duplex'],
  [4, 'TwnhsE'],
  [5, 'Twnhs']]}

In [147]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'1Fam': 1, '2fmCon': 2, 'Duplex': 3, 'TwnhsE': 4, 'Twnhs': 5}

In [148]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([1, 2, 3, 4, 5])

## Diccionario `HouseStyle`

In [149]:
column = 'HouseStyle'

In [150]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

        0
0  2Story
1  1Story
2  1.5Fin
3  1.5Unf
4  SFoyer

In [151]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [152]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [153]:
grouped.shape

(8, 2)

In [154]:
grouped['index'] += 1
grouped

   index     Key
0      1  2Story
1      2  1Story
2      3  1.5Fin
3      4  1.5Unf
4      5  SFoyer
5      6    SLvl
6      7  2.5Unf
7      8  2.5Fin

In [155]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [156]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, '2Story'],
  [2, '1Story'],
  [3, '1.5Fin'],
  [4, '1.5Unf'],
  [5, 'SFoyer'],
  [6, 'SLvl'],
  [7, '2.5Unf'],
  [8, '2.5Fin']]}

In [157]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'2Story': 1,
 '1Story': 2,
 '1.5Fin': 3,
 '1.5Unf': 4,
 'SFoyer': 5,
 'SLvl': 6,
 '2.5Unf': 7,
 '2.5Fin': 8}

In [158]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([1, 2, 3, 4, 5, 6, 7, 8])

## Diccionario `RoofStyle`

In [159]:
column = 'RoofStyle'

In [160]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

         0
0    Gable
1      Hip
2  Gambrel
3  Mansard
4     Flat

In [161]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [162]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [163]:
grouped.shape

(6, 2)

In [164]:
grouped['index'] += 1
grouped

   index      Key
0      1    Gable
1      2      Hip
2      3  Gambrel
3      4  Mansard
4      5     Flat
5      6     Shed

In [165]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [166]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'Gable'],
  [2, 'Hip'],
  [3, 'Gambrel'],
  [4, 'Mansard'],
  [5, 'Flat'],
  [6, 'Shed']]}

In [167]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'Gable': 1, 'Hip': 2, 'Gambrel': 3, 'Mansard': 4, 'Flat': 5, 'Shed': 6}

In [168]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([1, 2, 3, 4, 5, 6])

## Diccionario `RoofMatl`

In [169]:
column = 'RoofMatl'

In [170]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

         0
0  CompShg
1  WdShngl
2    Metal
3  WdShake
4  Membran

In [171]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [172]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [173]:
grouped.shape

(8, 2)

In [174]:
grouped['index'] += 1
grouped

   index      Key
0      1  CompShg
1      2  WdShngl
2      3    Metal
3      4  WdShake
4      5  Membran
5      6  Tar&Grv
6      7     Roll
7      8  ClyTile

In [175]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [176]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'CompShg'],
  [2, 'WdShngl'],
  [3, 'Metal'],
  [4, 'WdShake'],
  [5, 'Membran'],
  [6, 'Tar&Grv'],
  [7, 'Roll'],
  [8, 'ClyTile']]}

In [177]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'CompShg': 1,
 'WdShngl': 2,
 'Metal': 3,
 'WdShake': 4,
 'Membran': 5,
 'Tar&Grv': 6,
 'Roll': 7,
 'ClyTile': 8}

In [178]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([1, 2, 3, 4, 5, 6, 7, 8])

## Diccionario `Exterior1st`

In [179]:
column = 'Exterior1st'

In [180]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

         0
0  VinylSd
1  MetalSd
2  Wd Sdng
3  HdBoard
4  BrkFace

In [181]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [182]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [183]:
grouped.shape

(15, 2)

In [184]:
grouped['index'] += 1
grouped

    index      Key
0       1  VinylSd
1       2  MetalSd
2       3  Wd Sdng
3       4  HdBoard
4       5  BrkFace
5       6  WdShing
6       7  CemntBd
7       8  Plywood
8       9  AsbShng
9      10   Stucco
10     11  BrkComm
11     12  AsphShn
12     13    Stone
13     14  ImStucc
14     15   CBlock

In [185]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [186]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'VinylSd'],
  [2, 'MetalSd'],
  [3, 'Wd Sdng'],
  [4, 'HdBoard'],
  [5, 'BrkFace'],
  [6, 'WdShing'],
  [7, 'CemntBd'],
  [8, 'Plywood'],
  [9, 'AsbShng'],
  [10, 'Stucco'],
  [11, 'BrkComm'],
  [12, 'AsphShn'],
  [13, 'Stone'],
  [14, 'ImStucc'],
  [15, 'CBlock']]}

In [187]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'VinylSd': 1,
 'MetalSd': 2,
 'Wd Sdng': 3,
 'HdBoard': 4,
 'BrkFace': 5,
 'WdShing': 6,
 'CemntBd': 7,
 'Plywood': 8,
 'AsbShng': 9,
 'Stucco': 10,
 'BrkComm': 11,
 'AsphShn': 12,
 'Stone': 13,
 'ImStucc': 14,
 'CBlock': 15}

In [188]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

## Diccionario `Exterior2nd`

In [189]:
column = 'Exterior2nd'

In [190]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

         0
0  VinylSd
1  MetalSd
2  Wd Shng
3  HdBoard
4  Plywood

In [191]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [192]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [193]:
grouped.shape

(16, 2)

In [194]:
grouped['index'] += 1
grouped

    index      Key
0       1  VinylSd
1       2  MetalSd
2       3  Wd Shng
3       4  HdBoard
4       5  Plywood
5       6  Wd Sdng
6       7  CmentBd
7       8  BrkFace
8       9   Stucco
9      10  AsbShng
10     11  Brk Cmn
11     12  ImStucc
12     13  AsphShn
13     14    Stone
14     15    Other
15     16   CBlock

In [195]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [196]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'VinylSd'],
  [2, 'MetalSd'],
  [3, 'Wd Shng'],
  [4, 'HdBoard'],
  [5, 'Plywood'],
  [6, 'Wd Sdng'],
  [7, 'CmentBd'],
  [8, 'BrkFace'],
  [9, 'Stucco'],
  [10, 'AsbShng'],
  [11, 'Brk Cmn'],
  [12, 'ImStucc'],
  [13, 'AsphShn'],
  [14, 'Stone'],
  [15, 'Other'],
  [16, 'CBlock']]}

In [197]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'VinylSd': 1,
 'MetalSd': 2,
 'Wd Shng': 3,
 'HdBoard': 4,
 'Plywood': 5,
 'Wd Sdng': 6,
 'CmentBd': 7,
 'BrkFace': 8,
 'Stucco': 9,
 'AsbShng': 10,
 'Brk Cmn': 11,
 'ImStucc': 12,
 'AsphShn': 13,
 'Stone': 14,
 'Other': 15,
 'CBlock': 16}

In [198]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

## Diccionario `MasVnrType`

In [199]:
column = 'MasVnrType'

In [200]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

         0
0  BrkFace
1     None
2    Stone
3   BrkCmn

In [201]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [202]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [203]:
grouped.shape

(4, 2)

In [204]:
grouped['index'] += 1
grouped

   index      Key
0      1  BrkFace
1      2     None
2      3    Stone
3      4   BrkCmn

In [205]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [206]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'BrkFace'], [2, 'None'], [3, 'Stone'], [4, 'BrkCmn']]}

In [207]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'BrkFace': 1, 'None': 2, 'Stone': 3, 'BrkCmn': 4}

In [208]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([ 1.,  2.,  3.,  4., nan])

## Diccionario `ExterQual`

In [209]:
column = 'ExterQual'

In [210]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

    0
0  Gd
1  TA
2  Ex
3  Fa

In [211]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [212]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [213]:
grouped.shape

(4, 2)

In [214]:
grouped['index'] += 1
grouped

   index Key
0      1  Gd
1      2  TA
2      3  Ex
3      4  Fa

In [215]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [216]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'Gd'], [2, 'TA'], [3, 'Ex'], [4, 'Fa']]}

In [217]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'Gd': 1, 'TA': 2, 'Ex': 3, 'Fa': 4}

In [218]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([1, 2, 3, 4])

## Diccionario `ExterCond`

In [219]:
column = 'ExterCond'

In [220]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

    0
0  TA
1  Gd
2  Fa
3  Po
4  Ex

In [221]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [222]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [223]:
grouped.shape

(5, 2)

In [224]:
grouped['index'] += 1
grouped

   index Key
0      1  TA
1      2  Gd
2      3  Fa
3      4  Po
4      5  Ex

In [225]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [226]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'TA'], [2, 'Gd'], [3, 'Fa'], [4, 'Po'], [5, 'Ex']]}

In [227]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'TA': 1, 'Gd': 2, 'Fa': 3, 'Po': 4, 'Ex': 5}

In [228]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([1, 2, 3, 4, 5])

## Diccionario `Foundation`

In [229]:
column = 'Foundation'

In [230]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

        0
0   PConc
1  CBlock
2  BrkTil
3    Wood
4    Slab

In [231]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [232]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [233]:
grouped.shape

(6, 2)

In [234]:
grouped['index'] += 1
grouped

   index     Key
0      1   PConc
1      2  CBlock
2      3  BrkTil
3      4    Wood
4      5    Slab
5      6   Stone

In [235]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [236]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'PConc'],
  [2, 'CBlock'],
  [3, 'BrkTil'],
  [4, 'Wood'],
  [5, 'Slab'],
  [6, 'Stone']]}

In [237]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'PConc': 1, 'CBlock': 2, 'BrkTil': 3, 'Wood': 4, 'Slab': 5, 'Stone': 6}

In [238]:
df_copy[column] = df_copy[column].replace(dict__)
df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([1, 2, 3, 4, 5, 6])

## Diccionario `BsmtQual`

In [239]:
column = 'BsmtQual'

In [240]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

    0
0  Gd
1  TA
2  Ex
3  Fa

In [241]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [242]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [243]:
grouped.shape

(4, 2)

In [244]:
grouped['index'] += 1
grouped

   index Key
0      1  Gd
1      2  TA
2      3  Ex
3      4  Fa

In [245]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [246]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'Gd'], [2, 'TA'], [3, 'Ex'], [4, 'Fa']]}

In [247]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'Gd': 1, 'TA': 2, 'Ex': 3, 'Fa': 4}

In [248]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([ 1.,  2.,  3., nan,  4.])

## Diccionario `BsmtCond`

In [249]:
column = 'BsmtCond'

In [250]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

    0
0  TA
1  Gd
2  Fa
3  Po

In [251]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [252]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [253]:
grouped.shape

(4, 2)

In [254]:
grouped['index'] += 1
grouped

   index Key
0      1  TA
1      2  Gd
2      3  Fa
3      4  Po

In [255]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [256]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'TA'], [2, 'Gd'], [3, 'Fa'], [4, 'Po']]}

In [257]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'TA': 1, 'Gd': 2, 'Fa': 3, 'Po': 4}

In [258]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([ 1.,  2., nan,  3.,  4.])

## Diccionario `BsmtExposure`

In [259]:
column = 'BsmtExposure'

In [260]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

    0
0  No
1  Gd
2  Mn
3  Av

In [261]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [262]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [263]:
grouped.shape

(4, 2)

In [264]:
grouped['index'] += 1
grouped

   index Key
0      1  No
1      2  Gd
2      3  Mn
3      4  Av

In [265]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [266]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'No'], [2, 'Gd'], [3, 'Mn'], [4, 'Av']]}

In [267]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'No': 1, 'Gd': 2, 'Mn': 3, 'Av': 4}

In [268]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([ 1.,  2.,  3.,  4., nan])

## Diccionario `BsmtFinType1`

In [269]:
column = 'BsmtFinType1'

In [270]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

     0
0  GLQ
1  ALQ
2  Unf
3  Rec
4  BLQ

In [271]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [272]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [273]:
grouped.shape

(6, 2)

In [274]:
grouped['index'] += 1
grouped

   index  Key
0      1  GLQ
1      2  ALQ
2      3  Unf
3      4  Rec
4      5  BLQ
5      6  LwQ

In [275]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [276]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'GLQ'],
  [2, 'ALQ'],
  [3, 'Unf'],
  [4, 'Rec'],
  [5, 'BLQ'],
  [6, 'LwQ']]}

In [277]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'GLQ': 1, 'ALQ': 2, 'Unf': 3, 'Rec': 4, 'BLQ': 5, 'LwQ': 6}

In [278]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([ 1.,  2.,  3.,  4.,  5., nan,  6.])

## Diccionario `BsmtFinType2`

In [279]:
column = 'BsmtFinType2'

In [280]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

     0
0  Unf
1  BLQ
2  ALQ
3  Rec
4  LwQ

In [281]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [282]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [283]:
grouped.shape

(6, 2)

In [284]:
grouped['index'] += 1
grouped

   index  Key
0      1  Unf
1      2  BLQ
2      3  ALQ
3      4  Rec
4      5  LwQ
5      6  GLQ

In [285]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [286]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'Unf'],
  [2, 'BLQ'],
  [3, 'ALQ'],
  [4, 'Rec'],
  [5, 'LwQ'],
  [6, 'GLQ']]}

In [287]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'Unf': 1, 'BLQ': 2, 'ALQ': 3, 'Rec': 4, 'LwQ': 5, 'GLQ': 6}

In [288]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([ 1.,  2., nan,  3.,  4.,  5.,  6.])

## Diccionario `Heating`

In [289]:
column = 'Heating'

In [290]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

      0
0  GasA
1  GasW
2  Grav
3  Wall
4  OthW

In [291]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [292]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [293]:
grouped.shape

(6, 2)

In [294]:
grouped['index'] += 1
grouped

   index    Key
0      1   GasA
1      2   GasW
2      3   Grav
3      4   Wall
4      5   OthW
5      6  Floor

In [295]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [296]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'GasA'],
  [2, 'GasW'],
  [3, 'Grav'],
  [4, 'Wall'],
  [5, 'OthW'],
  [6, 'Floor']]}

In [297]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'GasA': 1, 'GasW': 2, 'Grav': 3, 'Wall': 4, 'OthW': 5, 'Floor': 6}

In [298]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([1, 2, 3, 4, 5, 6])

## Diccionario `HeatingQC`

In [299]:
column = 'HeatingQC'

In [300]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

    0
0  Ex
1  Gd
2  TA
3  Fa
4  Po

In [301]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [302]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [303]:
grouped.shape

(5, 2)

In [304]:
grouped['index'] += 1
grouped

   index Key
0      1  Ex
1      2  Gd
2      3  TA
3      4  Fa
4      5  Po

In [305]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [306]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'Ex'], [2, 'Gd'], [3, 'TA'], [4, 'Fa'], [5, 'Po']]}

In [307]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'Ex': 1, 'Gd': 2, 'TA': 3, 'Fa': 4, 'Po': 5}

In [308]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([1, 2, 3, 4, 5])

## Diccionario `CentralAir`

In [309]:
column = 'CentralAir'

In [310]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

   0
0  Y
1  N

In [311]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [312]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [313]:
grouped.shape

(2, 2)

In [314]:
grouped['index'] += 1
grouped

   index Key
0      1   Y
1      2   N

In [315]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [316]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'Y'], [2, 'N']]}

In [317]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'Y': 1, 'N': 2}

In [318]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([1, 2])

## Diccionario `Electrical`

In [319]:
column = 'Electrical'

In [320]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

       0
0  SBrkr
1  FuseF
2  FuseA
3  FuseP
4    Mix

In [321]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [322]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [323]:
grouped.shape

(5, 2)

In [324]:
grouped['index'] += 1
grouped

   index    Key
0      1  SBrkr
1      2  FuseF
2      3  FuseA
3      4  FuseP
4      5    Mix

In [325]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [326]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'SBrkr'], [2, 'FuseF'], [3, 'FuseA'], [4, 'FuseP'], [5, 'Mix']]}

In [327]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'SBrkr': 1, 'FuseF': 2, 'FuseA': 3, 'FuseP': 4, 'Mix': 5}

In [328]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([ 1.,  2.,  3.,  4.,  5., nan])

## Diccionario `KitchenQual`

In [329]:
column = 'KitchenQual'

In [330]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

    0
0  Gd
1  TA
2  Ex
3  Fa

In [331]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [332]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [333]:
grouped.shape

(4, 2)

In [334]:
grouped['index'] += 1
grouped

   index Key
0      1  Gd
1      2  TA
2      3  Ex
3      4  Fa

In [335]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [336]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'Gd'], [2, 'TA'], [3, 'Ex'], [4, 'Fa']]}

In [337]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'Gd': 1, 'TA': 2, 'Ex': 3, 'Fa': 4}

In [338]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([1, 2, 3, 4])

## Diccionario `Functional`

In [339]:
column = 'Functional'

In [340]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

      0
0   Typ
1  Min1
2  Maj1
3  Min2
4   Mod

In [341]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [342]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [343]:
grouped.shape

(7, 2)

In [344]:
grouped['index'] += 1
grouped

   index   Key
0      1   Typ
1      2  Min1
2      3  Maj1
3      4  Min2
4      5   Mod
5      6  Maj2
6      7   Sev

In [345]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [346]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'Typ'],
  [2, 'Min1'],
  [3, 'Maj1'],
  [4, 'Min2'],
  [5, 'Mod'],
  [6, 'Maj2'],
  [7, 'Sev']]}

In [347]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'Typ': 1, 'Min1': 2, 'Maj1': 3, 'Min2': 4, 'Mod': 5, 'Maj2': 6, 'Sev': 7}

In [348]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([1, 2, 3, 4, 5, 6, 7])

## Diccionario `FireplaceQu`

In [349]:
column = 'FireplaceQu'

In [350]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

    0
0  TA
1  Gd
2  Fa
3  Ex
4  Po

In [351]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [352]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [353]:
grouped.shape

(5, 2)

In [354]:
grouped['index'] += 1
grouped

   index Key
0      1  TA
1      2  Gd
2      3  Fa
3      4  Ex
4      5  Po

In [355]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [356]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'TA'], [2, 'Gd'], [3, 'Fa'], [4, 'Ex'], [5, 'Po']]}

In [357]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'TA': 1, 'Gd': 2, 'Fa': 3, 'Ex': 4, 'Po': 5}

In [358]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([nan,  1.,  2.,  3.,  4.,  5.])

## Diccionario `GarageType`

In [359]:
column = 'GarageType'

In [360]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

         0
0   Attchd
1   Detchd
2  BuiltIn
3  CarPort
4  Basment

In [361]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [362]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [363]:
grouped.shape

(6, 2)

In [364]:
grouped['index'] += 1
grouped

   index      Key
0      1   Attchd
1      2   Detchd
2      3  BuiltIn
3      4  CarPort
4      5  Basment
5      6   2Types

In [365]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [366]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'Attchd'],
  [2, 'Detchd'],
  [3, 'BuiltIn'],
  [4, 'CarPort'],
  [5, 'Basment'],
  [6, '2Types']]}

In [367]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'Attchd': 1,
 'Detchd': 2,
 'BuiltIn': 3,
 'CarPort': 4,
 'Basment': 5,
 '2Types': 6}

In [368]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([ 1.,  2.,  3.,  4., nan,  5.,  6.])

## Diccionario `GarageFinish`

In [369]:
column = 'GarageFinish'

In [370]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

     0
0  RFn
1  Unf
2  Fin

In [371]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [372]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [373]:
grouped.shape

(3, 2)

In [374]:
grouped['index'] += 1
grouped

   index  Key
0      1  RFn
1      2  Unf
2      3  Fin

In [375]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [376]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'RFn'], [2, 'Unf'], [3, 'Fin']]}

In [377]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'RFn': 1, 'Unf': 2, 'Fin': 3}

In [378]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([ 1.,  2.,  3., nan])

## Diccionario `GarageQual`

In [379]:
column = 'GarageQual'

In [380]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

    0
0  TA
1  Fa
2  Gd
3  Ex
4  Po

In [381]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [382]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [383]:
grouped.shape

(5, 2)

In [384]:
grouped['index'] += 1
grouped

   index Key
0      1  TA
1      2  Fa
2      3  Gd
3      4  Ex
4      5  Po

In [385]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [386]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'TA'], [2, 'Fa'], [3, 'Gd'], [4, 'Ex'], [5, 'Po']]}

In [387]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'TA': 1, 'Fa': 2, 'Gd': 3, 'Ex': 4, 'Po': 5}

In [388]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([ 1.,  2.,  3., nan,  4.,  5.])

## Diccionario `GarageCond`

In [389]:
column = 'GarageCond'

In [390]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

    0
0  TA
1  Fa
2  Gd
3  Po
4  Ex

In [391]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [392]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [393]:
grouped.shape

(5, 2)

In [394]:
grouped['index'] += 1
grouped

   index Key
0      1  TA
1      2  Fa
2      3  Gd
3      4  Po
4      5  Ex

In [395]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [396]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'TA'], [2, 'Fa'], [3, 'Gd'], [4, 'Po'], [5, 'Ex']]}

In [397]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'TA': 1, 'Fa': 2, 'Gd': 3, 'Po': 4, 'Ex': 5}

In [398]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([ 1.,  2., nan,  3.,  4.,  5.])

## Diccionario `PavedDrive`

In [399]:
column = 'PavedDrive'

In [400]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

   0
0  Y
1  N
2  P

In [401]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [402]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [403]:
grouped.shape

(3, 2)

In [404]:
grouped['index'] += 1
grouped

   index Key
0      1   Y
1      2   N
2      3   P

In [405]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [406]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'Y'], [2, 'N'], [3, 'P']]}

In [407]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'Y': 1, 'N': 2, 'P': 3}

In [408]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([1, 2, 3])

## Diccionario `SaleType`

In [409]:
column = 'SaleType'

In [410]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

       0
0     WD
1    New
2    COD
3  ConLD
4  ConLI

In [411]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [412]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [413]:
grouped.shape

(9, 2)

In [414]:
grouped['index'] += 1
grouped

   index    Key
0      1     WD
1      2    New
2      3    COD
3      4  ConLD
4      5  ConLI
5      6    CWD
6      7  ConLw
7      8    Con
8      9    Oth

In [415]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [416]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'WD'],
  [2, 'New'],
  [3, 'COD'],
  [4, 'ConLD'],
  [5, 'ConLI'],
  [6, 'CWD'],
  [7, 'ConLw'],
  [8, 'Con'],
  [9, 'Oth']]}

In [417]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'WD': 1,
 'New': 2,
 'COD': 3,
 'ConLD': 4,
 'ConLI': 5,
 'CWD': 6,
 'ConLw': 7,
 'Con': 8,
 'Oth': 9}

In [418]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

## Diccionario `SaleCondition`

In [419]:
column = 'SaleCondition'

In [420]:
grouped = pd.DataFrame(df_copy[column].dropna().unique())
grouped.head()

         0
0   Normal
1  Abnorml
2  Partial
3  AdjLand
4   Alloca

In [421]:
grouped.reset_index(inplace=True)
grouped.columns

Index(['index', 0], dtype='object')

In [422]:
grouped.rename(columns={0: 'Key'}, inplace=True)
grouped.columns

Index(['index', 'Key'], dtype='object')

In [423]:
grouped.shape

(6, 2)

In [424]:
grouped['index'] += 1
grouped

   index      Key
0      1   Normal
1      2  Abnorml
2      3  Partial
3      4  AdjLand
4      5   Alloca
5      6   Family

In [425]:
dict_ = grouped.to_dict(orient='split')
dict_.keys()

dict_keys(['index', 'columns', 'data'])

In [426]:
dict_.pop('index')
dict_.pop('columns')
dict_

{'data': [[1, 'Normal'],
  [2, 'Abnorml'],
  [3, 'Partial'],
  [4, 'AdjLand'],
  [5, 'Alloca'],
  [6, 'Family']]}

In [427]:
dict__ = {}

for line in dict_['data']:
    #print(line[1], ' : ', line[0])
    dict__[line[1]] = line[0]

dict__

{'Normal': 1,
 'Abnorml': 2,
 'Partial': 3,
 'AdjLand': 4,
 'Alloca': 5,
 'Family': 6}

In [428]:
df_copy[column] = df_copy[column].replace(dict__)
#df_copy[column] = df_copy[column].astype('int64')
df_copy[column].unique()

array([1, 2, 3, 4, 5, 6])

In [429]:
for line in df_copy.columns:
    print(line, ' : ', df_copy[line].unique(), '\n')

Id  :  [   1    2    3 ... 1458 1459 1460]

MSSubClass  :  [ 60  20  70  50 190  45  90 120  30  85  80 160  75 180  40]

MSZoning  :  [1 2 3 4 5]

LotFrontage  :  [ 65.  80.  68.  60.  84.  85.  75.  nan  51.  50.  70.  91.  72.  66.
 101.  57.  44. 110.  98.  47. 108. 112.  74. 115.  61.  48.  33.  52.
 100.  24.  89.  63.  76.  81.  95.  69.  21.  32.  78. 121. 122.  40.
 105.  73.  77.  64.  94.  34.  90.  55.  88.  82.  71. 120. 107.  92.
 134.  62.  86. 141.  97.  54.  41.  79. 174.  99.  67.  83.  43. 103.
  93.  30. 129. 140.  35.  37. 118.  87. 116. 150. 111.  49.  96.  59.
  36.  56. 102.  58.  38. 109. 130.  53. 137.  45. 106. 104.  42.  39.
 144. 114. 128. 149. 313. 168. 182. 138. 160. 152. 124. 153.  46.]

LotArea  :  [ 8450  9600 11250 ... 17217 13175  9717]

Street  :  [1 2]

Alley  :  [nan 'Grvl' 'Pave']

LotShape  :  [1 2 3 4]

LandContour  :  [1 2 3 4]

Utilities  :  [1 2]

LotConfig  :  [1 2 3 4 5]

LandSlope  :  [1 2 3]

Neighborhood  :  [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25]

Condition1  :  [1 2 3 4 5 6 7 8 9]

Condition2  :  [1 2 3 4 5 6 7 8]

BldgType  :  [1 2 3 4 5]

HouseStyle  :  [1 2 3 4 5 6 7 8]

OverallQual  :  [ 7  6  8  5  9  4 10  3  1  2]

OverallCond  :  [5 8 6 7 4 2 3 9 1]

YearBuilt  :  [2003 1976 2001 1915 2000 1993 2004 1973 1931 1939 1965 2005 1962 2006
 1960 1929 1970 1967 1958 1930 2002 1968 2007 1951 1957 1927 1920 1966
 1959 1994 1954 1953 1955 1983 1975 1997 1934 1963 1981 1964 1999 1972
 1921 1945 1982 1998 1956 1948 1910 1995 1991 2009 1950 1961 1977 1985
 1979 1885 1919 1990 1969 1935 1988 1971 1952 1936 1923 1924 1984 1926
 1940 1941 1987 1986 2008 1908 1892 1916 1932 1918 1912 1947 1925 1900
 1980 1989 1992 1949 1880 1928 1978 1922 1996 2010 1946 1913 1937 1942
 1938 1974 1893 1914 1906 1890 1898 1904 1882 1875 1911 1917 1872 1905]

YearRemodAdd  :  [2003 1976 2002 1970 2000 1995 2005 1973 1950 1965 2006 1962 2007 1960
 2001 1967 2004 2008 1997 1959 1990 1955 1983 1980 1966 1963 1987 1964
 1972 1996 1998 1989 1953 1956 1968 1981 1992 2009 1982 1961 1993 1999
 1985 1979 1977 1969 1958 1991 1971 1952 1975 2010 1984 1986 1994 1988
 1954 1957 1951 1978 1974]

RoofStyle  :  [1 2 3 4 5 6]

RoofMatl  :  [1 2 3 4 5 6 7 8]

Exterior1st  :  [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]

Exterior2nd  :  [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16]

MasVnrType  :  [ 1.  2.  3.  4. nan]

MasVnrArea  :  [1.960e+02 0.000e+00 1.620e+02 3.500e+02 1.860e+02 2.400e+02 2.860e+02
 3.060e+02 2.120e+02 1.800e+02 3.800e+02 2.810e+02 6.400e+02 2.000e+02
 2.460e+02 1.320e+02 6.500e+02 1.010e+02 4.120e+02 2.720e+02 4.560e+02
 1.031e+03 1.780e+02 5.730e+02 3.440e+02 2.870e+02 1.670e+02 1.115e+03
 4.000e+01 1.040e+02 5.760e+02 4.430e+02 4.680e+02 6.600e+01 2.200e+01
 2.840e+02 7.600e+01 2.030e+02 6.800e+01 1.830e+02 4.800e+01 2.800e+01
 3.360e+02 6.000e+02 7.680e+02 4.800e+02 2.200e+02 1.840e+02 1.129e+03
 1.160e+02 1.350e+02 2.660e+02 8.500e+01 3.090e+02 1.360e+02 2.880e+02
 7.000e+01 3.200e+02 5.000e+01 1.200e+02 4.360e+02 2.520e+02 8.400e+01
 6.640e+02 2.260e+02 3.000e+02 6.530e+02 1.120e+02 4.910e+02 2.680e+02
 7.480e+02 9.800e+01 2.750e+02 1.380e+02 2.050e+02 2.620e+02 1.280e+02
 2.600e+02 1.530e+02 6.400e+01 3.120e+02 1.600e+01 9.220e+02 1.420e+02
 2.900e+02 1.270e+02 5.060e+02 2.970e+02       nan 6.040e+02 2.540e+02
 3.600e+01 1.020e+02 4.720e+02 4.810e+02 1.080e+02 3.020e+02 1.720e+02
 3.990e+02 2.700e+02 4.600e+01 2.100e+02 1.740e+02 3.480e+02 3.150e+02
 2.990e+02 3.400e+02 1.660e+02 7.200e+01 3.100e+01 3.400e+01 2.380e+02
 1.600e+03 3.650e+02 5.600e+01 1.500e+02 2.780e+02 2.560e+02 2.250e+02
 3.700e+02 3.880e+02 1.750e+02 2.960e+02 1.460e+02 1.130e+02 1.760e+02
 6.160e+02 3.000e+01 1.060e+02 8.700e+02 3.620e+02 5.300e+02 5.000e+02
 5.100e+02 2.470e+02 3.050e+02 2.550e+02 1.250e+02 1.000e+02 4.320e+02
 1.260e+02 4.730e+02 7.400e+01 1.450e+02 2.320e+02 3.760e+02 4.200e+01
 1.610e+02 1.100e+02 1.800e+01 2.240e+02 2.480e+02 8.000e+01 3.040e+02
 2.150e+02 7.720e+02 4.350e+02 3.780e+02 5.620e+02 1.680e+02 8.900e+01
 2.850e+02 3.600e+02 9.400e+01 3.330e+02 9.210e+02 7.620e+02 5.940e+02
 2.190e+02 1.880e+02 4.790e+02 5.840e+02 1.820e+02 2.500e+02 2.920e+02
 2.450e+02 2.070e+02 8.200e+01 9.700e+01 3.350e+02 2.080e+02 4.200e+02
 1.700e+02 4.590e+02 2.800e+02 9.900e+01 1.920e+02 2.040e+02 2.330e+02
 1.560e+02 4.520e+02 5.130e+02 2.610e+02 1.640e+02 2.590e+02 2.090e+02
 2.630e+02 2.160e+02 3.510e+02 6.600e+02 3.810e+02 5.400e+01 5.280e+02
 2.580e+02 4.640e+02 5.700e+01 1.470e+02 1.170e+03 2.930e+02 6.300e+02
 4.660e+02 1.090e+02 4.100e+01 1.600e+02 2.890e+02 6.510e+02 1.690e+02
 9.500e+01 4.420e+02 2.020e+02 3.380e+02 8.940e+02 3.280e+02 6.730e+02
 6.030e+02 1.000e+00 3.750e+02 9.000e+01 3.800e+01 1.570e+02 1.100e+01
 1.400e+02 1.300e+02 1.480e+02 8.600e+02 4.240e+02 1.047e+03 2.430e+02
 8.160e+02 3.870e+02 2.230e+02 1.580e+02 1.370e+02 1.150e+02 1.890e+02
 2.740e+02 1.170e+02 6.000e+01 1.220e+02 9.200e+01 4.150e+02 7.600e+02
 2.700e+01 7.500e+01 3.610e+02 1.050e+02 3.420e+02 2.980e+02 5.410e+02
 2.360e+02 1.440e+02 4.230e+02 4.400e+01 1.510e+02 9.750e+02 4.500e+02
 2.300e+02 5.710e+02 2.400e+01 5.300e+01 2.060e+02 1.400e+01 3.240e+02
 2.950e+02 3.960e+02 6.700e+01 1.540e+02 4.250e+02 4.500e+01 1.378e+03
 3.370e+02 1.490e+02 1.430e+02 5.100e+01 1.710e+02 2.340e+02 6.300e+01
 7.660e+02 3.200e+01 8.100e+01 1.630e+02 5.540e+02 2.180e+02 6.320e+02
 1.140e+02 5.670e+02 3.590e+02 4.510e+02 6.210e+02 7.880e+02 8.600e+01
 7.960e+02 3.910e+02 2.280e+02 8.800e+01 1.650e+02 4.280e+02 4.100e+02
 5.640e+02 3.680e+02 3.180e+02 5.790e+02 6.500e+01 7.050e+02 4.080e+02
 2.440e+02 1.230e+02 3.660e+02 7.310e+02 4.480e+02 2.940e+02 3.100e+02
 2.370e+02 4.260e+02 9.600e+01 4.380e+02 1.940e+02 1.190e+02]

ExterQual  :  [1 2 3 4]

ExterCond  :  [1 2 3 4 5]

Foundation  :  [1 2 3 4 5 6]

BsmtQual  :  [ 1.  2.  3. nan  4.]

BsmtCond  :  [ 1.  2. nan  3.  4.]

BsmtExposure  :  [ 1.  2.  3.  4. nan]

BsmtFinType1  :  [ 1.  2.  3.  4.  5. nan  6.]

BsmtFinSF1  :  [ 706  978  486  216  655  732 1369  859    0  851  906  998  737  733
  578  646  504  840  188  234 1218 1277 1018 1153 1213  731  643  967
  747  280  179  456 1351   24  763  182  104 1810  384  490  649  632
  941  739  912 1013  603 1880  565  320  462  228  336  448 1201   33
  588  600  713 1046  648  310 1162  520  108  569 1200  224  705  444
  250  984   35  774  419  170 1470  938  570  300  120  116  512  567
  445  695  405 1005  668  821  432 1300  507  679 1332  209  680  716
 1400  416  429  222   57  660 1016  370  351  379 1288  360  639  495
  288 1398  477  831 1904  436  352  611 1086  297  626  560  390  566
 1126 1036 1088  641  617  662  312 1065  787  468   36  822  378  946
  341   16  550  524   56  321  842  689  625  358  402   94 1078  329
  929  697 1573  270  922  503 1334  361  672  506  714  403  751  226
  620  546  392  421  905  904  430  614  450  210  292  795 1285  819
  420  841  281  894 1464  700  262 1274  518 1236  425  692  987  970
   28  256 1619   40  846 1124  720  828 1249  810  213  585  129  498
 1270  573 1410 1082  236  388  334  874  956  773  399  162  712  609
  371  540   72  623  428  350  298 1445  218  985  631 1280  241  690
  266  777  812  786 1116  789 1056   50 1128  775 1309 1246  986  616
 1518  664  387  471  385  365 1767  133  642  247  331  742 1606  916
  185  544  553  326  778  386  426  368  459 1350 1196  630  994  168
 1261 1567  299  897  607  836  515  374 1231  111  356  400  698 1247
  257  380   27  141  991  650  521 1436 2260  719  377 1330  348 1219
  783  969  673 1358 1260  144  584  554 1002  619  180  559  308  866
  895  637  604 1302 1071  290  728    2 1441  943  231  414  349  442
  328  594  816 1460 1324 1338  685 1422 1283   81  454  903  605  990
  206  150  457   48  871   41  674  624  480 1154  738  493 1121  282
  500  131 1696  806 1361  920 1721  187 1138  988  193  551  767 1186
  892  311  827  543 1003 1059  239  945   20 1455  965  980  863  533
 1084 1173  523 1148  191 1234  375  808  724  152 1180  252  832  575
  919  439  381  438  549  612 1163  437  394 1416  422  762  975 1097
  251  686  656  568  539  862  197  516  663  608 1636  784  249 1040
  483  196  572  338  330  156 1390  513  460  659  364  564  306  505
  932  750   64  633 1170  899  902 1238  528 1024 1064  285 2188  465
  322  860  599  354   63  223  301  443  489  284  294  814  165  552
  833  464  936  772 1440  748  982  398  562  484  417  699  696  896
  556 1106  651  867  854 1646 1074  536 1172  915  595 1237  273  684
  324 1165  138 1513  317 1012 1022  509  900 1085 1104  240  383  644
  397  740  837  220  586  535  410   75  824  592 1039  510  423  661
  248  704  412 1032  219  708  415 1004  353  702  369  622  212  645
  852 1150 1258  275  176  296  538 1157  492 1198 1387  522  658 1216
 1480 2096 1159  440 1456  883  547  788  485  340 1220  427  344  756
 1540  666  803 1000  885 1386  319  534  125 1314  602  192  593  804
 1053  532 1158 1014  194  167  776 5644  694 1572  746 1406  925  482
  189  765   80 1443  259  735  734 1447  548  315 1282  408  309  203
  865  204  790 1320  769 1070  264  759 1373  976  781   25 1110  404
  580  678  958 1336 1079   49  830]

BsmtFinType2  :  [ 1.  2. nan  3.  4.  5.  6.]

BsmtFinSF2  :  [   0   32  668  486   93  491  506  712  362   41  169  869  150  670
   28 1080  181  768  215  374  208  441  184  279  306  180  580  690
  692  228  125 1063  620  175  820 1474  264  479  147  232  380  544
  294  258  121  391  531  344  539  713  210  311 1120  165  532   96
  495  174 1127  139  202  645  123  551  219  606  612  480  182  132
  336  468  287   35  499  723  119   40  117  239   80  472   64 1057
  127  630  128  377  764  345 1085  435  823  500  290  324  634  411
  841 1061  466  396  354  149  193  273  465  400  682  557  230  106
  791  240  547  469  177  108  600  492  211  168 1031  438  375  144
   81  906  608  276  661   68  173  972  105  420  546  334  352  872
  110  627  163 1029]

BsmtUnfSF  :  [ 150  284  434  540  490   64  317  216  952  140  134  177  175 1494
  520  832  426    0  468  525 1158  637 1777  200  204 1566  180  486
  207  649 1228 1234  380  408 1117 1097   84  326  445  383  167  465
 1296   83 1632  736  192  612  816   32  935  321  860 1410  148  217
  530 1346  576  318 1143 1035  440  747  701  343  280  404  840  724
  295 1768  448   36 1530 1065  384 1288  684 1013  402  635  163  168
  176  370  350  381  410  741 1226 1053  641  516  793 1139  550  905
  104  310  252 1125  203  728  732  510  899 1362   30  958  556  413
  479  297  658  262  891 1304  519 1907  336  107  432  403  811  396
  970  506  884  400  896  253  409   93 1200  572  774  769 1335  340
  882  779  112  470  294 1686  360  441  354  700  725  320  554  312
  968  504 1107  577  660   99  871  474  289  600  755  625 1121  276
  186 1424 1140  375   92  305 1176   78  274  311  710  686  457 1232
 1498 1010  160 2336  630  638  162   70 1357 1194  773  483  235  125
 1390  594 1694  488  357  626  916 1020 1367  798  452  392  975  361
  270  602 1482  680  606   88  342  212 1095   96  628 1560  744 2121
  768  386 1468 1145  244  698 1079  570  476  131  184  143 1092  324
 1541 1470  536  319  599  622  179  292  286   80  712  291  153 1088
 1249  166  906  604  100  818  844  596  210 1603  115  103  673  726
  995  967  721 1656  972  460  208  191  438 1869  371  624  552  322
  598  268  130  484  785  733  953  847  333 1580  411  982  808 1293
  939  784  595  229  114  522  735  405  117  961 1286  672 1141  806
  165 1064 1063  245 1276  892 1008  499 1316  463  242  444  281   35
  356  988  580  651  619  544  387  901  926  135  648   75  788 1307
 1078 1258  273 1436  557  930  780  813  878  122  248  588  524  288
  389  424 1375 1626  406  298 2153  417  739  225  611  237  290  264
  238  363  190 1969  697  414  316  466  420  254  960  397 1191  548
   50  178 1368  169  748  689 1264  467  605 1257  551  678  707  880
  378  223  578  969  379  765  149  912  620 1709  132  993  197 1374
   90  195  706 1163  367 1122 1515   55 1497  450  846   23  390  861
  285 1050  331 2042 1237  113  742  924  512  119  314  308  293  537
  126  427  309  914  173 1774  823  485 1116  978  636  564  108 1184
  796  366  300  542  645  664  756  247  776  849 1392   38 1406  111
  545  121 2046  161  261  567 1195  874 1342  151  989 1073  927  219
  224  526 1164  761  461  876  859  171  718  138  941  464  250   72
  508 1584  415   82  948  893  864 1349   76  487  652 1240  801  279
 1030  348  234 1198  740   89  586  323 1836  480  456 1935  338 1594
  102  374 1413  491 1129  255 1496  650 1926  154  999 1734  124 1417
   15  834 1649  936  778 1489  442 1434  352  458 1221 1099  416 1800
  227  907  528  189 1273  563  372  702 1090  435  198 1372  174 1638
  894  299  105  676 1120  431  218  110  795 1098 1043  481  666  142
  447  783 1670  277  412  794  239  662 1072  717  546  430  422  188
  266 1181 1753  964 1450 1905 1480  772 1032  220  187   29  495  640
  193  196  720  918 1428   77 1266 1128  692  770  750 1442 1007  501
  691 1550 1680 1330 1710  746  814  515  571  359  355  301  668  920
 1055 1420 1752  304 1302  833  133  549  705  722  799  462  429  810
  155  170  230 1459 1082  758 1290 1074  251  172  868  797  365  418
  730  533  671 1012 1528 1005 1373  500  762  752  399 1042   40   26
  932  278  459  568 1502  543  574  977  449  983  731  120  538  831
  994  341  879  815 1212  866 1630  328  141  364 1380   81  303  940
  764 1048  334 1689  690  792  585  473  246 1045 1405  201   14  841
 1104  241  925 2002   74  661  708 1152  256  804  812 1085  344  425
 1616  976  496  349  971 1393 1622 1352 1795 1017 1588  428  803  693
  858 1284 1203 1652   39  539 1217  257  715  616  240  315 1351 1026
 1571  156   61   95  482 1094   60  862  221  791  398  777  503  734
  709 1252  656 1319 1422  560 1573  589  877  136]

TotalBsmtSF  :  [ 856 1262  920  756 1145  796 1686 1107  952  991 1040 1175  912 1494
 1253  832 1004    0 1114 1029 1158  637 1777 1060 1566  900 1704 1484
  520  649 1228 1234 1398 1561 1117 1097 1297 1057 1088 1350  840  938
 1150 1752 1434 1656  736  955  794  816 1842  384 1425  970  860 1410
  780  530 1370  576 1143 1947 1453  747 1304 2223  845 1086  462  672
 1768  440  896 1237 1563 1065 1288  684  612 1013  990 1235  876 1214
  824  680 1588  960  458  950 1610  741 1226 1053  641  789  793 1844
  994 1264 1809 1028  729 1092 1125 1673  728  732 1080 1199 1362 1078
  660 1008  924  992 1063 1267 1461 1907  928  864 1734  910 1490 1728
  715  884  969 1710  825 1602 1200  572  774 1392 1232 1572 1541  882
 1149  644 1617 1582  720 1064 1606 1202 1151 1052 2216  968  504 1188
 1593  853  725 1431  855 1726 1360  755 1713 1121 1196  617  848 1424
 1140 1100 1157 1212  689 1070 1436  686  798 1248 1498 1010  713 2392
  630 1203  483 1373 1194 1462  894 1414  996 1694  735  540  626  948
 1845 1020 1367 1444 1573 1302 1314  975 1604  963 1482  506  926 1422
  802  740 1095 1385 1152 1240 1560 2121 1160  807 1468 1575  625  858
  698 1079  768  795 1416 1003  702 1165 1470 2000  700  319  861 1896
  697  972 2136  716 1347 1372 1249 1136 1502 1162  710 1719 1383  844
  596 1056 3206 1358  943 1499 1922 1536 1208 1215  967  721 1684  536
  958 1478  764 1848 1869  616  624  940 1142 1062  888  883 1394 1099
 1268  953  744  608  847  683  870 1580 1856  982 1026 1293  939  784
 1256  658 1041 1682  804  788 1144  961 1260 1310 1141  806 1281 1034
 1276 1340 1344  988  651 1518  907  901  765  799  648 3094 1440 1258
  915 1517  930  813 1533  872 1242 1364  588  709  560 1375 1277 1626
 1488  808  547 1976 2153 1705 1833 1792 1216  999 1113 1073  954  264
 1269  190 3200  866 1501  777 1218 1368 1084 2006 1244 3138 1379 1257
 1452  528 2035  611  707  880 1051 1581 1838 1650  723  654 1204 1069
 1709  998  993 1374 1389 1163 1122 1496  846  372 1164 1050 2042 1868
 1437  742  770 1722 1814 1430 1058  908  600  965 1032 1299 1120  936
  783 1822 1522  980 1116  978 1156  636 1554 1386  811 1520 1952 1766
  981 1094 2109  525  776 1486 1629 1138 2077 1406 1021 1408  738 1477
 2046  923 1291 1195 1190  874  551 1419 2444 1210  927 1112 1391 1800
  360 1473 1643 1324  270  859  718 1176 1311  971 1742  941 1698 1584
 1595  868 1153  893 1349 1337 1720 1479 1030 1318 1252  983 1860  836
 1935 1614  761 1413  956  712  650  773 1926  731 1417 1024  849 1442
 1649 1568  778 1489 2078 1454 1516 1067 1559 1127 1390 1273  918 1763
 1090 1054 1039 1148 1002 1638  105  676 1184 1109  892 2217 1505 1059
  951 2330 1670 1623 1017 1105 1001  546  480 1134 1104 1272 1316 1126
 1181 1753  964 1466  925 1905 1500  585 1632  819 1616 1161  828  945
  979  561  696 1330  817 1098 1428  673 1241  944 1225 1266 1128  485
 1930 1396  916  822  750 1700 1007 1187  691 1574 1680 1346  985 1657
  602 1022 1082  810 1504 1220 1132 1565 1338 1654 1620 1055  800 1306
 1475 2524 1992 1193  973  854  662 1103 1154  942 1048  727  690 1096
 1459 1251 1247 1074 1271  290  655 1463 1836  803  833  408  533 1012
 1552 1005 1530  974 1567 1006 1042 1298  704  932 1219 1296 1198  959
 1261 1598 1683  818 1600 2396 1624  831 1224  663  879  815 1630 2158
  931 1660  559 1300 1702 1075 1361 1106 1476 1689 2076  792 2110 1405
 1192  746 1986  841 2002 1332  935 1019  661 1309 1328 1085 6110 1246
  771  976 1652 1278 1902 1274 1393 1622 1352  420 1795  544 1510  911
  693 1284 1732 2033  570 1980  814  873  757 1108 2633 1571  984 1205
  714 1746 1525  482 1356  862  839 1286 1485 1594  622  791  708 1223
  913  656 1319 1932  539 1221 1542]

Heating  :  [1 2 3 4 5 6]

HeatingQC  :  [1 2 3 4 5]

CentralAir  :  [1 2]

Electrical  :  [ 1.  2.  3.  4.  5. nan]

1stFlrSF  :  [ 856 1262  920  961 1145  796 1694 1107 1022 1077 1040 1182  912 1494
 1253  854 1004 1296 1114 1339 1158 1108 1795 1060 1600  900 1704  520
  649 1228 1234 1700 1561 1132 1097 1297 1057 1152 1324 1328  884  938
 1150 1752 1518 1656  736  955  794  816 1842 1360 1425  983  860 1426
  780  581 1370  902 1143 2207 1479  747 1304 2223  845  885 1086  840
  526  952 1072 1768  682 1337 1563 1065  804 1301  684  612 1013  990
 1235  964 1260  905  680 1588  960  835 1225 1610  977 1535 1226 1053
 1047  789  997 1844 1216  774 1282 2259 1436  729 1092 1125 1699  728
  988  772 1080 1199 1586  958  660 1327 1721 1682 1214 1959  928  864
 1734  910 1501 1728  970  875  896  969 1710 1252 1200  572  991 1392
 1232 1572 1541  882 1149  808 1867 1707 1064 1362 1651 2158 1164 2234
  968  769  901 1340  936 1217 1224 1593 1549  725 1431  855 1726  929
 1713 1121 1279  865  848  720 1442 1696 1100 1180 1212  932  689 1236
  810 1137 1248 1498 1010  811 2392  630  483 1555 1194 1490  894 1414
 1014  798 1566  866  889  626 1222 1872  908 1375 1444 1306 1625 1302
 1314 1005 1604  963 1382 1482  926  764 1422  802 1052  778 1113 1095
 1363 1632 1560 2121 1156 1175 1468 1575  625 1085  858  698 1079 1148
 1644 1003  975 1041 1336 1210 1675 2000 1122 1035  861 1944  697  972
  793 2036  832  716 1153 1088 1372 1472 1249 1136 1553 1163 1898  803
 1719 1383 1445  596 1056 1629 1358  943 1619 1922 1536 1621 1215  993
  841 1684  536 1478 1848 1869 1453  616 1192 1167 1142 1352  495  790
  672 1394 1268 1287  953 1120  752 1319  847  904  914 1580 1856 1007
 1026  939  784 1269  658 1742  788  735 1144  876 1112 1288 1310 1165
  806 1620 1166 1071 1050 1276 1028  756 1344 1602 1470 1196  707  907
 1208 1412  765  827  734  694 2402 1440 1128 1258  933 1689 1888  956
  679  813 1533  888  786 1242  624 1663  833  979  575  849 1277 1634
 1502 1161 1976 1652 1493 2069 1718 1131 1850 1792  916  999 1073 1484
 1766  886 3228 1133  899 1801 1218 1368 2020 1378 1244 3138 1266 1476
  605 2515 1509  751  334  820  880 1159 1601 1838 1680  767  664 1377
  915  768  825 1069 1717 1126 1006 1048  897 1557 1389  996 1134 1496

In [430]:
import math
print(math.nan)

nan

In [431]:
import numpy as np
np.NaN

nan

## NaN

In [432]:
df_copy = df.copy()

In [433]:
df_copy.fillna(value=-1, inplace=True)

In [434]:
n = df_copy.columns.values.tolist()
m = round(df_copy.shape[0]*.80)

l = []
for i in n:
    print(i)
    if df_copy[i].value_counts().get(-1) != None:
        print(m, " < ", df_copy[i].value_counts().get(-1))
        if m < df_copy[i].value_counts().get(-1):
            print(i)
            l.append(i)
            df_copy.drop(labels=i, axis=1, inplace=True)

Id
MSSubClass
MSZoning
1168  <  10
LotFrontage
1168  <  259
LotArea
Street
1168  <  6
Alley
1168  <  1369
Alley
LotShape
1168  <  10
LandContour
1168  <  36
Utilities
1168  <  1
LotConfig
1168  <  4
LandSlope
1168  <  13
Neighborhood
1168  <  2
Condition1
1168  <  2
Condition2
1168  <  1
BldgType
1168  <  31
HouseStyle
1168  <  8
OverallQual
OverallCond
YearBuilt
YearRemodAdd
RoofStyle
1168  <  2
RoofMatl
1168  <  1
Exterior1st
1168  <  1
Exterior2nd
1168  <  1
MasVnrType
1168  <  8
MasVnrArea
1168  <  8
ExterQual
1168  <  14
ExterCond
1168  <  1
Foundation
1168  <  3
BsmtQual
1168  <  37
BsmtCond
1168  <  37
BsmtExposure
1168  <  38
BsmtFinType1
1168  <  37
BsmtFinSF1
BsmtFinType2
1168  <  38
BsmtFinSF2
BsmtUnfSF
TotalBsmtSF
Heating
1168  <  1
HeatingQC
1168  <  1
CentralAir
1168  <  95
Electrical
1168  <  1
1stFlrSF
2ndFlrSF
LowQualFinSF
GrLivArea
BsmtFullBath
BsmtHalfBath
FullBath
HalfBath
BedroomAbvGr
KitchenAbvGr
KitchenQual
1168  <  39
TotRmsAbvGrd
Functional
1168  <  1
Fireplaces
FireplaceQu
1168  <  690
GarageType
1168  <  81
GarageYrBlt
1168  <  81
GarageFinish
1168  <  81
GarageCars
GarageArea
GarageQual
1168  <  81
GarageCond
1168  <  81
PavedDrive
1168  <  30
WoodDeckSF
OpenPorchSF
EnclosedPorch
3SsnPorch
ScreenPorch
PoolArea
PoolQC
1168  <  1453
PoolQC
Fence
1168  <  1179
Fence
MiscFeature
1168  <  1406
MiscFeature
MiscVal
MoSold
YrSold
SaleType
1168  <  2
SaleCondition
1168  <  4
SalePrice

In [435]:
df_copy.replace(to_replace= -1, value=np.NaN, inplace=True)

In [436]:
df_copy.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [437]:
df_copy.to_csv('train_clean.csv')