In [12]:
import pandas as pd

In [13]:
file = 'train_impute.csv'
df = pd.read_csv(file)
df.head()

,Unnamed: 0,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0,60,1,65.0,8450,1,1,1,1,1,...,0,0,0,0,0,2,2008,1,1,208500
1,1,20,1,80.0,9600,1,1,1,1,2,...,0,0,0,0,0,5,2007,1,1,181500
2,2,60,1,68.0,11250,1,2,1,1,1,...,0,0,0,0,0,9,2008,1,1,223500
3,3,70,1,60.0,9550,1,2,1,1,3,...,272,0,0,0,0,2,2006,1,2,140000
4,4,60,1,84.0,14260,1,2,1,1,2,...,0,0,0,0,0,12,2008,1,1,250000

In [14]:
df.shape

(1460, 76)

In [25]:
X_train = df[df.columns[:-1]]
X_train.head()

,Unnamed: 0,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,0,60,1,65.0,8450,1,1,1,1,1,...,61,0,0,0,0,0,2,2008,1,1
1,1,20,1,80.0,9600,1,1,1,1,2,...,0,0,0,0,0,0,5,2007,1,1
2,2,60,1,68.0,11250,1,2,1,1,1,...,42,0,0,0,0,0,9,2008,1,1
3,3,70,1,60.0,9550,1,2,1,1,3,...,35,272,0,0,0,0,2,2006,1,2
4,4,60,1,84.0,14260,1,2,1,1,2,...,84,0,0,0,0,0,12,2008,1,1

In [51]:
y_train = pd.Series(df[df.columns[-1]])
y_train.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [52]:
X_train.shape

(1460, 75)

In [53]:
#y_train = y_train.values.reshape(y_train.shape[0], 1)

In [54]:
y_train.shape

(1460,)

[Which machine learning algorithms are appropriate for numerical, categorical or both values?](https://www.quora.com/Which-machine-learning-algorithms-are-appropriate-for-numerical-categorical-or-both-values)

## Decision trees

## Naïve Bayes

In [43]:
from sklearn.naive_bayes import GaussianNB

In [56]:
gnb = GaussianNB()

In [57]:
gnb_fit = gnb.fit(X_train, y_train)

In [ ]:
gnb_predict = gnb.predict(X_test)

##  KNN (Hamilton o Gower)

##  Random Forest