In [175]:
import pandas as pd

In [176]:
file = 'train_impute.csv'
df = pd.read_csv(file)
df.head()

,Unnamed: 0,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0,60,1,65.0,8450,1,1,1,1,1,...,0,0,0,0,0,2,2008,1,1,208500
1,1,20,1,80.0,9600,1,1,1,1,2,...,0,0,0,0,0,5,2007,1,1,181500
2,2,60,1,68.0,11250,1,2,1,1,1,...,0,0,0,0,0,9,2008,1,1,223500
3,3,70,1,60.0,9550,1,2,1,1,3,...,272,0,0,0,0,2,2006,1,2,140000
4,4,60,1,84.0,14260,1,2,1,1,2,...,0,0,0,0,0,12,2008,1,1,250000

In [177]:
df.drop(labels='Unnamed: 0', axis=1, inplace=True)

In [178]:
df.shape

(1460, 75)

In [179]:
X_train = df[df.columns[:-1]]
X_train.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,60,1,65.0,8450,1,1,1,1,1,1,...,61,0,0,0,0,0,2,2008,1,1
1,20,1,80.0,9600,1,1,1,1,2,1,...,0,0,0,0,0,0,5,2007,1,1
2,60,1,68.0,11250,1,2,1,1,1,1,...,42,0,0,0,0,0,9,2008,1,1
3,70,1,60.0,9550,1,2,1,1,3,1,...,35,272,0,0,0,0,2,2006,1,2
4,60,1,84.0,14260,1,2,1,1,2,1,...,84,0,0,0,0,0,12,2008,1,1

In [180]:
y_train = pd.Series(df[df.columns[-1]])
y_train.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [181]:
X_train.shape

(1460, 74)

In [182]:
y_train.shape

(1460,)

In [183]:
file = 'test_impute.csv'
df = pd.read_csv(file)
df.head()

,Unnamed: 0,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,0,20,1.0,80.0,11622,1,1,1,1.0,1,...,0,0,0,120,0,0,6,2010,1.0,1
1,1,20,2.0,81.0,14267,1,2,1,1.0,3,...,36,0,0,0,0,12500,6,2010,1.0,1
2,2,60,2.0,74.0,13830,1,2,1,1.0,1,...,34,0,0,0,0,0,3,2010,1.0,1
3,3,60,2.0,78.0,9978,1,2,1,1.0,1,...,36,0,0,0,0,0,6,2010,1.0,1
4,4,120,2.0,43.0,5005,1,2,4,1.0,1,...,82,0,0,144,0,0,1,2010,1.0,1

In [184]:
df.drop(labels='Unnamed: 0', axis=1, inplace=True)

In [185]:
df.shape

(1459, 74)

In [186]:
X_test = df
X_test.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,20,1.0,80.0,11622,1,1,1,1.0,1,1,...,0,0,0,120,0,0,6,2010,1.0,1
1,20,2.0,81.0,14267,1,2,1,1.0,3,1,...,36,0,0,0,0,12500,6,2010,1.0,1
2,60,2.0,74.0,13830,1,2,1,1.0,1,1,...,34,0,0,0,0,0,3,2010,1.0,1
3,60,2.0,78.0,9978,1,2,1,1.0,1,1,...,36,0,0,0,0,0,6,2010,1.0,1
4,120,2.0,43.0,5005,1,2,4,1.0,1,1,...,82,0,0,144,0,0,1,2010,1.0,1

[Which machine learning algorithms are appropriate for numerical, categorical or both values?](https://www.quora.com/Which-machine-learning-algorithms-are-appropriate-for-numerical-categorical-or-both-values)

## Decision trees

## Naïve Bayes

In [127]:
from sklearn.naive_bayes import GaussianNB

In [128]:
gnb = GaussianNB()

In [129]:
gnb_fit = gnb.fit(X_train, y_train)

In [130]:
gnb_predict = gnb.predict(X_test)

In [131]:
gnb_predict

array([129000, 190000, 215000, ..., 142500, 139000, 192000])

In [132]:
X_test['SalePrice'] = gnb_predict

In [133]:
X_test.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,20,1.0,80.0,11622,1,1,1,1.0,1,1,...,0,0,120,0,0,6,2010,1.0,1,129000
1,20,2.0,81.0,14267,1,2,1,1.0,3,1,...,0,0,0,0,12500,6,2010,1.0,1,190000
2,60,2.0,74.0,13830,1,2,1,1.0,1,1,...,0,0,0,0,0,3,2010,1.0,1,215000
3,60,2.0,78.0,9978,1,2,1,1.0,1,1,...,0,0,0,0,0,6,2010,1.0,1,215000
4,120,2.0,43.0,5005,1,2,4,1.0,1,1,...,0,0,144,0,0,1,2010,1.0,1,239000

In [135]:
df_predict = X_test.copy()
df_predict.shape

(1459, 75)

In [136]:
df_predict.reset_index(inplace=True)

In [137]:
df_predict['Id'] = df_predict['index']

In [138]:
df_predict[['Id', 'SalePrice']] += X_train.shape[0] + 1

In [139]:
df_predict[['Id', 'SalePrice']].head()

     Id  SalePrice
0  1461     130461
1  1462     191461
2  1463     216461
3  1464     216461
4  1465     240461

In [140]:
df_submission = df_predict[['Id', 'SalePrice']].copy()
df_submission.head()

     Id  SalePrice
0  1461     130461
1  1462     191461
2  1463     216461
3  1464     216461
4  1465     240461

In [141]:
df_submission.set_index(keys='Id', inplace=True)

In [142]:
df_submission.head()

      SalePrice
Id
1461     130461
1462     191461
1463     216461
1464     216461
1465     240461

In [143]:
df_submission.to_csv('gnb_submission.csv')

In [9]:
file = 'sample_submission.csv'
df = pd.read_csv(file)
df.head()

     Id      SalePrice
0  1461  169277.052498
1  1462  187758.393989
2  1463  183583.683570
3  1464  179317.477511
4  1465  150730.079977

##  KNN (Hamilton o Gower)

In [187]:
from sklearn.neighbors import KNeighborsRegressor

In [188]:
neigh = KNeighborsRegressor()

In [191]:
neigh_fit = neigh.fit(X_train, y_train)

In [192]:
neigh_predict = neigh.predict(X_test)

In [193]:
neigh_predict

array([150340., 205680., 174360., ..., 182100., 124880., 245618.])

In [194]:
X_test['SalePrice'] = neigh_predict

In [195]:
X_test.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,20,1.0,80.0,11622,1,1,1,1.0,1,1,...,0,0,120,0,0,6,2010,1.0,1,150340.0
1,20,2.0,81.0,14267,1,2,1,1.0,3,1,...,0,0,0,0,12500,6,2010,1.0,1,205680.0
2,60,2.0,74.0,13830,1,2,1,1.0,1,1,...,0,0,0,0,0,3,2010,1.0,1,174360.0
3,60,2.0,78.0,9978,1,2,1,1.0,1,1,...,0,0,0,0,0,6,2010,1.0,1,193900.0
4,120,2.0,43.0,5005,1,2,4,1.0,1,1,...,0,0,144,0,0,1,2010,1.0,1,147976.0

In [196]:
df_predict = X_test.copy()
df_predict.shape

(1459, 75)

In [197]:
df_predict.reset_index(inplace=True)

In [198]:
df_predict['Id'] = df_predict['index']

In [199]:
df_predict[['Id', 'SalePrice']] += X_train.shape[0] + 1

In [200]:
df_predict[['Id', 'SalePrice']].head()

     Id  SalePrice
0  1461   151801.0
1  1462   207141.0
2  1463   175821.0
3  1464   195361.0
4  1465   149437.0

In [203]:
df_submission = df_predict[['Id', 'SalePrice']].copy()
df_submission.head()

     Id  SalePrice
0  1461   151801.0
1  1462   207141.0
2  1463   175821.0
3  1464   195361.0
4  1465   149437.0

In [204]:
df_submission.set_index(keys='Id', inplace=True)

In [205]:
df_submission.head()

      SalePrice
Id
1461   151801.0
1462   207141.0
1463   175821.0
1464   195361.0
1465   149437.0

In [206]:
df_submission.to_csv('neigh_submission.csv')

##  Random Forest

In [144]:
from sklearn.ensemble import RandomForestRegressor

In [145]:
regr = RandomForestRegressor()

In [161]:
regr_fit = regr.fit(X_train, y_train)

In [162]:
regr_predict = regr.predict(X_test)

In [163]:
regr_predict

array([126360. , 151785. , 181709. , ..., 139475. , 115950. , 235687.9])

In [164]:
X_test['SalePrice'] = regr_predict

In [165]:
X_test.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,20,1.0,80.0,11622,1,1,1,1.0,1,1,...,0,0,120,0,0,6,2010,1.0,1,126360.0
1,20,2.0,81.0,14267,1,2,1,1.0,3,1,...,0,0,0,0,12500,6,2010,1.0,1,151785.0
2,60,2.0,74.0,13830,1,2,1,1.0,1,1,...,0,0,0,0,0,3,2010,1.0,1,181709.0
3,60,2.0,78.0,9978,1,2,1,1.0,1,1,...,0,0,0,0,0,6,2010,1.0,1,181750.0
4,120,2.0,43.0,5005,1,2,4,1.0,1,1,...,0,0,144,0,0,1,2010,1.0,1,194680.0

In [166]:
df_predict = X_test.copy()
df_predict.shape

(1459, 75)

In [167]:
df_predict.reset_index(inplace=True)

In [168]:
df_predict['Id'] = df_predict['index']

In [169]:
df_predict[['Id', 'SalePrice']] += X_train.shape[0] + 1

In [170]:
df_predict[['Id', 'SalePrice']].head()

     Id  SalePrice
0  1461   127821.0
1  1462   153246.0
2  1463   183170.0
3  1464   183211.0
4  1465   196141.0

In [171]:
df_submission = df_predict[['Id', 'SalePrice']].copy()
df_submission.head()

     Id  SalePrice
0  1461   127821.0
1  1462   153246.0
2  1463   183170.0
3  1464   183211.0
4  1465   196141.0

In [172]:
df_submission.set_index(keys='Id', inplace=True)

In [173]:
df_submission.head()

      SalePrice
Id
1461   127821.0
1462   153246.0
1463   183170.0
1464   183211.0
1465   196141.0

In [174]:
df_submission.to_csv('regr_submission.csv')